In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [5]:
data = pd.read_csv('data.csv')
data.head()

     Company  Socks  Trunks  T-Shirts  Hoodies  Jackets  Shirts
0  Company_1      0       0         0        0        1       0
1  Company_2      1       0         1        0        1       1
2  Company_3      0       1         0        1        1       1
3  Company_4      0       0         1        0        1       0
4  Company_5      0       1         0        1        1       1