In [1]:
import pandas as pd 
import numpy as np

Columns renaming

In [3]:
data = pd.read_csv('./data/mammals.csv')
data.head()

              name     body  brain
0       Arctic fox    3.385   44.5
1       Owl monkey    0.480   15.5
2  Mountain beaver    1.350    8.1
3              Cow  465.000  423.0
4        Grey wolf   36.330  119.5

In [6]:
#Fast and for all
data.columns = ['name', 'weight_body_kg', 'weight_brain_kg']
data.head()

              name  weight_body_kg  weight_brain_kg
0       Arctic fox           3.385             44.5
1       Owl monkey           0.480             15.5
2  Mountain beaver           1.350              8.1
3              Cow         465.000            423.0
4        Grey wolf          36.330            119.5

In [9]:
#For choosen columns
columns = {'weight_body_kg': 'weight_bodyKG', 'weight_brain_kg': 'weight_brainKG'}
data.rename(columns = columns, inplace=True)
data.head()

              name  weight_bodyKG  weight_brainKG
0       Arctic fox          3.385            44.5
1       Owl monkey          0.480            15.5
2  Mountain beaver          1.350             8.1
3              Cow        465.000           423.0
4        Grey wolf         36.330           119.5

In [10]:
data = pd.read_csv('./data/mammals.csv', index_col='name')
data.head()

                    body  brain
name
Arctic fox         3.385   44.5
Owl monkey         0.480   15.5
Mountain beaver    1.350    8.1
Cow              465.000  423.0
Grey wolf         36.330  119.5

In [14]:
#Chagne the value in index
data.rename(index= {'Cow': 'Land Cow'}, inplace=True)
data.head()

                    body  brain
name
Arctic fox         3.385   44.5
Owl monkey         0.480   15.5
Mountain beaver    1.350    8.1
Land Cow         465.000  423.0
Grey wolf         36.330  119.5

In [20]:
#Using a copy to change a value inside of dataframe. Use .loc
dataCopy = data.copy()
dataCopy.loc['Arctic fox', 'body'] = 5
dataCopy.head()

                   body  brain
name
Arctic fox         5.00   44.5
Owl monkey         0.48   15.5
Mountain beaver    1.35    8.1
Land Cow         465.00  423.0
Grey wolf         36.33  119.5

In [19]:
data.head()

                    body  brain
name
Arctic fox         3.385   44.5
Owl monkey         0.480   15.5
Mountain beaver    1.350    8.1
Land Cow         465.000  423.0
Grey wolf         36.330  119.5