In [185]:
import pandas as pd
import numpy as np

In [186]:
categories = pd.read_csv('./data/northwind-mongo-master/categories1.csv')
categories.head()

   CategoryID    CategoryName              Description
0           1       Beverages              Soft drinks
1           2      Condiments  Sweet and savory sauces
2           3     Confections                 Desserts
3           4  Dairy Products                  Cheeses
4           5  Grains/Cereals                   Breads

In [187]:
products = pd.read_csv('./data/northwind-mongo-master/products.csv')
products.head()

,ProductID,ProductName,SupplierID,CategoryID,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued
0,1,Chai,1,1,10 boxes x 20 bags,18.00,39,0,10,0
1,2,Chang,1,1,24 - 12 oz bottles,19.00,17,40,25,0
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00,13,70,25,0
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00,53,0,0,0
4,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35,0,0,0,1

In [188]:
suppliers = pd.read_csv('./data/northwind-mongo-master/suppliers.csv')
suppliers.head()

,SupplierID,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax,HomePage
0,1,Exotic Liquids,Charlotte Cooper,Purchasing Manager,49 Gilbert St.,London,NaN,EC1 4SD,UK,(171) 555-2222,NaN,NaN
1,2,New Orleans Cajun Delights,Shelley Burke,Order Administrator,P.O. Box 78934,New Orleans,LA,70117,USA,(100) 555-4822,NaN,#CAJUN.HTM#
2,3,Grandma Kelly's Homestead,Regina Murphy,Sales Representative,707 Oxford Rd.,Ann Arbor,MI,48104,USA,(313) 555-5735,(313) 555-3349,NaN
3,4,Tokyo Traders,Yoshi Nagase,Marketing Manager,9-8 Sekimai Musashino-shi,Tokyo,NaN,100,Japan,(03) 3555-5011,NaN,NaN
4,5,Cooperativa de Quesos 'Las Cabras',Antonio del Valle Saavedra,Export Administrator,Calle del Rosal 4,Oviedo,Asturias,33007,Spain,(98) 598 76 54,NaN,NaN

In [189]:
customers = pd.read_csv('./data/northwind-mongo-master/customers.csv')
customers.head()

,CustomerID,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax
0,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,030-0076545
1,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,Owner,Avda. de la Constituci??n 2222,M?©xico D.F.,NaN,5021,Mexico,(5) 555-4729,(5) 555-3745
2,ANTON,Antonio Moreno Taquer?­a,Antonio Moreno,Owner,Mataderos 2312,M?©xico D.F.,NaN,5023,Mexico,(5) 555-3932,NaN
3,AROUT,Around the Horn,Thomas Hardy,Sales Representative,120 Hanover Sq.,London,NaN,WA1 1DP,UK,(171) 555-7788,(171) 555-6750
4,BERGS,Berglunds snabbk?¶p,Christina Berglund,Order Administrator,Berguvsv?¤gen 8,Lule??,NaN,S-958 22,Sweden,0921-12 34 65,0921-12 34 67

Concat - is looking for same columns, so it can glue those dataframes. It also allows to add more then 1 dataframe, you can add 2,3,4,.... dataframes. Use ingore_index to create new idnex

In [190]:
suppliers = pd.read_csv('./data/northwind-mongo-master/suppliers.csv', usecols=['SupplierID', 'CompanyName', 'Country'])
suppliers.head()

   SupplierID                         CompanyName Country
0           1                      Exotic Liquids      UK
1           2          New Orleans Cajun Delights     USA
2           3           Grandma Kelly's Homestead     USA
3           4                       Tokyo Traders   Japan
4           5  Cooperativa de Quesos 'Las Cabras'   Spain

In [191]:
customers = pd.read_csv('./data/northwind-mongo-master/customers.csv', usecols=['CustomerID', 'CompanyName', 'Country'])
customers.head()

  CustomerID                         CompanyName  Country
0      ALFKI                 Alfreds Futterkiste  Germany
1      ANATR  Ana Trujillo Emparedados y helados   Mexico
2      ANTON            Antonio Moreno Taquer?­a   Mexico
3      AROUT                     Around the Horn       UK
4      BERGS                 Berglunds snabbk?¶p   Sweden

In [192]:
#Customers are added to suppliers
suppliers_cusomter = pd.concat([suppliers, customers], ignore_index=True)
suppliers_cusomter

     SupplierID                         CompanyName  Country CustomerID
0           1.0                      Exotic Liquids       UK        NaN
1           2.0          New Orleans Cajun Delights      USA        NaN
2           3.0           Grandma Kelly's Homestead      USA        NaN
3           4.0                       Tokyo Traders    Japan        NaN
4           5.0  Cooperativa de Quesos 'Las Cabras'    Spain        NaN
..          ...                                 ...      ...        ...
115         NaN                      Wartian Herkku  Finland      WARTH
116         NaN              Wellington Importadora   Brazil      WELLI
117         NaN                White Clover Markets      USA      WHITC
118         NaN                         Wilman Kala  Finland      WILMK
119         NaN                      Wolski  Zajazd   Poland      WOLZA

[120 rows x 4 columns]

Join() -

<img src='./data/join.png'>

In [193]:
prod_1 = pd.read_csv('./data/northwind-mongo-master/products.csv', usecols=['ProductID', 'ProductName'], index_col='ProductID')
prod_2 = pd.read_csv('./data/northwind-mongo-master/products.csv', usecols=['ProductID', 'UnitPrice', 'UnitsInStock'], index_col='ProductID')

In [194]:
#Join data and make a value columns whcih calcualtes value of each product
joined_data = prod_1.join(prod_2).head()
joined_data['Value'] = joined_data['UnitPrice'] * joined_data['UnitsInStock']
joined_data

                            ProductName  UnitPrice  UnitsInStock   Value
ProductID
1                                  Chai      18.00            39   702.0
2                                 Chang      19.00            17   323.0
3                         Aniseed Syrup      10.00            13   130.0
4          Chef Anton's Cajun Seasoning      22.00            53  1166.0
5                Chef Anton's Gumbo Mix      21.35             0     0.0

In [195]:
categories = pd.read_csv('./data/northwind-mongo-master/categories1.csv', usecols=['CategoryID', 'CategoryName', 'Description'])
products = pd.read_csv('./data/northwind-mongo-master/products.csv', usecols=['ProductID', 'ProductName', 'UnitPrice', 'CategoryID'])

In [196]:
categories.set_index('CategoryID', inplace=True)

In [197]:
#CHECK INDEXES!!!
products.join(other = categories, on = 'CategoryID')

,ProductID,ProductName,CategoryID,UnitPrice,CategoryName,Description
0,1,Chai,1,18.00,Beverages,Soft drinks
1,2,Chang,1,19.00,Beverages,Soft drinks
2,3,Aniseed Syrup,2,10.00,Condiments,Sweet and savory sauces
3,4,Chef Anton's Cajun Seasoning,2,22.00,Condiments,Sweet and savory sauces
4,5,Chef Anton's Gumbo Mix,2,21.35,Condiments,Sweet and savory sauces
...,...,...,...,...,...,...
72,73,Röd Kaviar,8,15.00,Seafood,Seaweed and fish
73,74,Longlife Tofu,7,10.00,Produce,Dried fruit and bean curd
74,75,Rhönbräu Klosterbier,1,7.75,Beverages,Soft drinks
75,76,Lakkalikööri,1,18.00,Beverages,Soft drinks
76,77,Original Frankfurter grüne Soße,2,13.00,Condiments,Sweet and savory sauces

Merge()

In [198]:
cat1 = pd.read_csv('./data/northwind-mongo-master/categories_del_1.csv', usecols =["CategoryID", "CategoryName"])
cat2 = pd.read_csv('./data/northwind-mongo-master/categories_del_2.csv', usecols =["CategoryID", "CategoryName"])

In [199]:
#Inner
cat1.merge(cat2)

   CategoryID    CategoryName
0           2      Condiments
1           3     Confections
2           4  Dairy Products
3           7         Produce
4           8         Seafood

In [200]:
merged = cat1.merge(cat2, on='CategoryID', suffixes=["_1", "_2"], how='outer', indicator=True)

In [201]:
filter = merged["_merge"] == "both"
merged[filter]

   CategoryID  CategoryName_1  CategoryName_2 _merge
1           2      Condiments      Condiments   both
2           3     Confections     Confections   both
3           4  Dairy Products  Dairy Products   both
6           7         Produce         Produce   both
7           8         Seafood         Seafood   both

In [202]:
#how=left
merged = cat1.merge(cat2, on='CategoryID', suffixes=["_1", "_2"], how='left', indicator=True)
merged

   CategoryID  CategoryName_1  CategoryName_2     _merge
0           2      Condiments      Condiments       both
1           3     Confections     Confections       both
2           4  Dairy Products  Dairy Products       both
3           5  Grains/Cereals             NaN  left_only
4           6    Meat/Poultry             NaN  left_only
5           7         Produce         Produce       both
6           8         Seafood         Seafood       both

In [203]:
#Challange
f_2015 = pd.read_csv('./data/Fortune_500_2015.csv', usecols=['rank', 'company'])
f_2016 = pd.read_csv('./data/Fortune_500_2016.csv', usecols=['rank', 'company'])

In [204]:
merged = f_2015.merge(f_2016, how='outer', indicator=True, on='company', suffixes=["_2015", "_2016"])
merged

     rank_2015                 company  rank_2016      _merge
0         98.0                      3M       93.0        both
1        444.0  A-Mark Precious Metals      426.0        both
2          NaN          ABM Industries      485.0  right_only
3        251.0                     ADP      248.0        both
4        343.0                   AECOM      156.0        both
..         ...                     ...        ...         ...
529      228.0              Yum Brands      218.0        both
530        NaN  Zimmer Biomet Holdings      431.0  right_only
531      172.0                    eBay      300.0        both
532      429.0             iHeartMedia      414.0        both
533      483.0          salesforce.com      386.0        both

[534 rows x 4 columns]

In [205]:
only_2015 = merged[merged["_merge"] == 'left_only']
only_2015

     rank_2015                              company  rank_2016     _merge
7        465.0                        AGL Resources        NaN  left_only
10       492.0                          ARRIS Group        NaN  left_only
15       473.0               Advanced Micro Devices        NaN  left_only
18       389.0                 Agilent Technologies        NaN  left_only
22       125.0                                Alcoa        NaN  left_only
23       499.0                            Alleghany        NaN  left_only
24       380.0                             Allergan        NaN  left_only
78       373.0                     Blackstone Group        NaN  left_only
85       406.0                     Buckeye Partners        NaN  left_only
98       328.0                Caesars Entertainment        NaN  left_only
100      457.0  Calumet Specialty Products Partners        NaN  left_only
117      215.0                                Chubb        NaN  left_only
125      368.0                Coca-Cola Enterprises        NaN  left_only
133      456.0                              Con-way        NaN  left_only
157       95.0                              DirecTV        NaN  left_only
194      281.0                 Family Dollar Stores        NaN  left_only
214      443.0                        General Cable        NaN  left_only
229      272.0                           H.J. Heinz        NaN  left_only
260      404.0                Integrys Energy Group        NaN  left_only
276      424.0                                  KBR        NaN  left_only
284      165.0                                Kraft        NaN  left_only
309      448.0                           MRC Global        NaN  left_only
322      500.0                McGraw Hill Financial        NaN  left_only
324      464.0                         MeadWestvaco        NaN  left_only
336      350.0                           Murphy Oil        NaN  left_only
365      414.0                             Omnicare        NaN  left_only
382      402.0                               Pantry        NaN  left_only
389      386.0                             PetSmart        NaN  left_only
394      496.0            Pioneer Natural Resources        NaN  left_only
410      476.0     Quintiles Transnational Holdings        NaN  left_only
427       84.0                              Safeway        NaN  left_only
456      441.0                                TEGNA        NaN  left_only
459      175.0              TRW Automotive Holdings        NaN  left_only
525      477.0                         Wynn Resorts        NaN  left_only

In [206]:
only_2016 = merged[merged["_merge"] == 'right_only']
only_2016

     rank_2015                       company  rank_2016      _merge
2          NaN                ABM Industries      485.0  right_only
20         NaN                        Airgas      484.0  right_only
49         NaN                       Arconic      126.0  right_only
51         NaN           Arthur J. Gallagher      471.0  right_only
69         NaN                       Baxalta      420.0  right_only
75         NaN                      Big Lots      495.0  right_only
86         NaN             Burlington Stores      500.0  right_only
119        NaN          Cincinnati Financial      499.0  right_only
122        NaN      Citizens Financial Group      486.0  right_only
126        NaN   Coca-Cola European Partners      397.0  right_only
137        NaN          Constellation Brands      429.0  right_only
182        NaN  Envision Healthcare Holdings      469.0  right_only
201        NaN      First American Financial      497.0  right_only
204        NaN                        Fiserv      492.0  right_only
211        NaN       Frontier Communications      461.0  right_only
219        NaN            Genesis Healthcare      457.0  right_only
242        NaN         Hertz Global Holdings      269.0  right_only
285        NaN                   Kraft Heinz      153.0  right_only
291        NaN                  Lam Research      491.0  right_only
314        NaN                        Markel      476.0  right_only
342        NaN                           NVR      498.0  right_only
384        NaN               PayPal Holdings      307.0  right_only
388        NaN        Performance Food Group      185.0  right_only
409        NaN        Quintiles IMS Holdings      447.0  right_only
413        NaN       Raymond James Financial      482.0  right_only
423        NaN              Rockwell Collins      490.0  right_only
426        NaN                    S&P Global      481.0  right_only
435        NaN          Simon Property Group      488.0  right_only
463        NaN      Telephone & Data Systems      496.0  right_only
493        NaN                        Univar      315.0  right_only
498        NaN                       Veritiv      323.0  right_only
506        NaN              WEC Energy Group      437.0  right_only
526        NaN                 XPO Logistics      353.0  right_only
530        NaN        Zimmer Biomet Holdings      431.0  right_only

Merge_outer()

In [207]:
products = pd.read_csv('./data/northwind-mongo-master/products.csv', usecols=['ProductID', 'ProductName'])
orderdProducts = pd.read_csv('./data/northwind-mongo-master/order-details_del.csv', usecols=['OrderID', 'ProductID', 'UnitPrice', 'Quantity'])

In [208]:
products.head()

   ProductID                   ProductName
0          1                          Chai
1          2                         Chang
2          3                 Aniseed Syrup
3          4  Chef Anton's Cajun Seasoning
4          5        Chef Anton's Gumbo Mix

In [209]:
orderdProducts.head()

   OrderID  ProductID  UnitPrice  Quantity
0    10331         54        5.9        15
1    10332         18       50.0        40
2    10332         42       11.2        10
3    10332         47        7.6        16
4    10333         14       18.6        10

In [210]:
merged = products.merge(right=orderdProducts, on='ProductID', how='outer', indicator=True)
merged

,ProductID,ProductName,OrderID,UnitPrice,Quantity,_merge
0,1,Chai,10348.0,14.4,15.0,both
1,1,Chai,10354.0,14.4,12.0,both
2,1,Chai,10370.0,14.4,15.0,both
3,1,Chai,10406.0,14.4,10.0,both
4,1,Chai,10413.0,14.4,24.0,both
...,...,...,...,...,...,...
289,77,Original Frankfurter grüne Soße,10366.0,10.4,5.0,both
290,77,Original Frankfurter grüne Soße,10367.0,10.4,7.0,both
291,77,Original Frankfurter grüne Soße,10399.0,10.4,14.0,both
292,77,Original Frankfurter grüne Soße,10417.0,10.4,35.0,both
293,77,Original Frankfurter grüne Soße,10421.0,10.4,10.0,both

In [211]:
merged['_merge'].value_counts()

_merge
both          289
left_only       5
right_only      0
Name: count, dtype: int64

In [212]:
filter = merged['_merge'] == 'left_only'
merged[filter]

,ProductID,ProductName,OrderID,UnitPrice,Quantity,_merge
16,6,Grandma's Boysenberry Spread,NaN,NaN,NaN,left_only
38,15,Genen Shouyu,NaN,NaN,NaN,left_only
85,27,Schoggi Schokolade,NaN,NaN,NaN,left_only
242,66,Louisiana Hot Spiced Okra,NaN,NaN,NaN,left_only
243,67,Laughing Lumberjack Lager,NaN,NaN,NaN,left_only

In [213]:
#Challange
suppliers = pd.read_csv('./data/northwind-mongo-master/suppliers_del_1.csv', usecols=['SupplierID', 'CompanyName', 'City'])
products = pd.read_csv('./data/northwind-mongo-master/products_del_1.csv', usecols=['ProductID', 'ProductName', 'SupplierID'])

In [214]:
suppliers

    SupplierID                             CompanyName           City
0            1                          Exotic Liquids         London
1            2              New Orleans Cajun Delights    New Orleans
2            3               Grandma Kelly's Homestead      Ann Arbor
3            4                           Tokyo Traders          Tokyo
4            5      Cooperativa de Quesos 'Las Cabras'         Oviedo
5            6                                Mayumi's          Osaka
6            7                            Pavlova Ltd.      Melbourne
7            8                 Specialty Biscuits Ltd.     Manchester
8           10               Refrescos Americanas LTDA      Sao Paulo
9           11             Heli Süßwaren GmbH & Co. KG         Berlin
10          12       Plutzer Lebensmittelgroßmärkte AG      Frankfurt
11          13  Nord-Ost-Fisch Handelsgesellschaft mbH       Cuxhaven
12          14                 Formaggi Fortini s.r.l.     75 Ravenna
13          15                         Norske Meierier       Sandvika
14          16                       Bigfoot Breweries           Bend
15          18              Aux joyeux ecclésiastiques          Paris
16          19             New England Seafood Cannery         Boston
17          20                            Leka Trading      Singapore
18          21                              Lyngbysild         Lyngby
19          22                     Zaanse Snoepfabriek        Zaandam
20          23                               Karkki Oy   Lappeenranta
21          24                              G'day Mate         Sydney
22          25                               Ma Maison       Montréal
23          26                    Pasta Buttini s.r.l.        Salerno
24          27                      Escargots Nouveaux       Montceau
25          28                            Gai pâturage         Annecy
26          29                        Forêts d'érables  Ste-Hyacinthe

In [215]:
products

    ProductID                      ProductName  SupplierID
0           1                             Chai           1
1           2                            Chang           1
2           3                    Aniseed Syrup           1
3           4     Chef Anton's Cajun Seasoning           2
4           5           Chef Anton's Gumbo Mix           2
..        ...                              ...         ...
70         73                       Röd Kaviar          17
71         74                    Longlife Tofu           4
72         75             Rhönbräu Klosterbier          12
73         76                     Lakkalikööri          23
74         77  Original Frankfurter grüne Soße          12

[75 rows x 3 columns]

In [216]:
#Inner merge
prod_and_sup = products.merge(suppliers, how="inner", on='SupplierID')
prod_and_sup

,ProductID,ProductName,SupplierID,CompanyName,City
0,1,Chai,1,Exotic Liquids,London
1,2,Chang,1,Exotic Liquids,London
2,3,Aniseed Syrup,1,Exotic Liquids,London
3,4,Chef Anton's Cajun Seasoning,2,New Orleans Cajun Delights,New Orleans
4,5,Chef Anton's Gumbo Mix,2,New Orleans Cajun Delights,New Orleans
...,...,...,...,...,...
65,72,Mozzarella di Giovanni,14,Formaggi Fortini s.r.l.,75 Ravenna
66,74,Longlife Tofu,4,Tokyo Traders,Tokyo
67,75,Rhönbräu Klosterbier,12,Plutzer Lebensmittelgroßmärkte AG,Frankfurt
68,76,Lakkalikööri,23,Karkki Oy,Lappeenranta
69,77,Original Frankfurter grüne Soße,12,Plutzer Lebensmittelgroßmärkte AG,Frankfurt

In [217]:
print(f'Lenght of suppliers {len(suppliers)}')
print(f'Length of products{len(products)}')
print(f'Lenght of merged data {len(prod_and_sup)}')

Lenght of suppliers 27
Length of products75
Lenght of merged data 70

In [218]:
prod_and_sup_outer = products.merge(suppliers, how='outer', indicator=True)
prod_and_sup_outer

,ProductID,ProductName,SupplierID,CompanyName,City,_merge
0,1.0,Chai,1,Exotic Liquids,London,both
1,2.0,Chang,1,Exotic Liquids,London,both
2,3.0,Aniseed Syrup,1,Exotic Liquids,London,both
3,4.0,Chef Anton's Cajun Seasoning,2,New Orleans Cajun Delights,New Orleans,both
4,5.0,Chef Anton's Gumbo Mix,2,New Orleans Cajun Delights,New Orleans,both
...,...,...,...,...,...,...
71,57.0,Ravioli Angelo,26,Pasta Buttini s.r.l.,Salerno,both
72,NaN,NaN,27,Escargots Nouveaux,Montceau,right_only
73,60.0,Camembert Pierrot,28,Gai pâturage,Annecy,both
74,61.0,Sirop d'érable,29,Forêts d'érables,Ste-Hyacinthe,both
75,62.0,Tarte au sucre,29,Forêts d'érables,Ste-Hyacinthe,both

In [219]:
filter = prod_and_sup_outer['_merge'] == 'left_only'
prod_and_sup_outer[filter]

    ProductID          ProductName  SupplierID CompanyName City     _merge
27       22.0  Gustaf's Knäckebröd           9         NaN  NaN  left_only
28       23.0             Tunnbröd           9         NaN  NaN  left_only
48       36.0          Inlagd Sill          17         NaN  NaN  left_only
49       37.0           Gravad lax          17         NaN  NaN  left_only
50       73.0           Röd Kaviar          17         NaN  NaN  left_only

In [220]:
filter = prod_and_sup_outer['_merge'] == 'right_only'
prod_and_sup_outer[filter]

,ProductID,ProductName,SupplierID,CompanyName,City,_merge
72,NaN,NaN,27,Escargots Nouveaux,Montceau,right_only

merge left and right

In [221]:
orderdProducts = pd.read_csv('./data/northwind-mongo-master/order-details_del.csv', usecols=['OrderID', 'ProductID', 'UnitPrice', 'Quantity'])
products = pd.read_csv('./data/northwind-mongo-master/products_del_1.csv', usecols=['ProductID', 'ProductName', 'SupplierID'])

In [222]:
merged = products.merge(orderdProducts, on='ProductID', how='left', indicator=True)
merged

,ProductID,ProductName,SupplierID,OrderID,UnitPrice,Quantity,_merge
0,1,Chai,1,10348.0,14.4,15.0,both
1,1,Chai,1,10354.0,14.4,12.0,both
2,1,Chai,1,10370.0,14.4,15.0,both
3,1,Chai,1,10406.0,14.4,10.0,both
4,1,Chai,1,10413.0,14.4,24.0,both
...,...,...,...,...,...,...,...
281,77,Original Frankfurter grüne Soße,12,10366.0,10.4,5.0,both
282,77,Original Frankfurter grüne Soße,12,10367.0,10.4,7.0,both
283,77,Original Frankfurter grüne Soße,12,10399.0,10.4,14.0,both
284,77,Original Frankfurter grüne Soße,12,10417.0,10.4,35.0,both
285,77,Original Frankfurter grüne Soße,12,10421.0,10.4,10.0,both

In [223]:
merged['_merge'].value_counts()

_merge
both          281
left_only       5
right_only      0
Name: count, dtype: int64

In [224]:
merged = orderdProducts.merge(products, on='ProductID', how='right', indicator=True)
merged

,OrderID,ProductID,UnitPrice,Quantity,ProductName,SupplierID,_merge
0,10348.0,1,14.4,15.0,Chai,1,both
1,10354.0,1,14.4,12.0,Chai,1,both
2,10370.0,1,14.4,15.0,Chai,1,both
3,10406.0,1,14.4,10.0,Chai,1,both
4,10413.0,1,14.4,24.0,Chai,1,both
...,...,...,...,...,...,...,...
281,10366.0,77,10.4,5.0,Original Frankfurter grüne Soße,12,both
282,10367.0,77,10.4,7.0,Original Frankfurter grüne Soße,12,both
283,10399.0,77,10.4,14.0,Original Frankfurter grüne Soße,12,both
284,10417.0,77,10.4,35.0,Original Frankfurter grüne Soße,12,both
285,10421.0,77,10.4,10.0,Original Frankfurter grüne Soße,12,both

In [225]:
filter = merged['_merge'] == 'right_only'
merged[filter]

,OrderID,ProductID,UnitPrice,Quantity,ProductName,SupplierID,_merge
16,NaN,6,NaN,NaN,Grandma's Boysenberry Spread,3,right_only
38,NaN,15,NaN,NaN,Genen Shouyu,6,right_only
85,NaN,27,NaN,NaN,Schoggi Schokolade,11,right_only
234,NaN,66,NaN,NaN,Louisiana Hot Spiced Okra,2,right_only
235,NaN,67,NaN,NaN,Laughing Lumberjack Lager,16,right_only

In [226]:
#Challange
suppliers = pd.read_csv('./data/northwind-mongo-master/suppliers.csv', usecols=['SupplierID', 'CompanyName', 'City'])
products = pd.read_csv('./data/northwind-mongo-master/products_del_2.csv', usecols=['ProductID', 'ProductName', 'SupplierID'])

In [227]:
sup_prod = suppliers.merge(products, on='SupplierID', indicator=True)
sup_prod

,SupplierID,CompanyName,City,ProductID,ProductName,_merge
0,1,Exotic Liquids,London,1,Chai,both
1,1,Exotic Liquids,London,2,Chang,both
2,3,Grandma Kelly's Homestead,Ann Arbor,6,Grandma's Boysenberry Spread,both
3,3,Grandma Kelly's Homestead,Ann Arbor,7,Uncle Bob's Organic Dried Pears,both
4,3,Grandma Kelly's Homestead,Ann Arbor,8,Northwoods Cranberry Sauce,both
...,...,...,...,...,...,...
63,25,Ma Maison,Montréal,55,Pâté chinois,both
64,26,Pasta Buttini s.r.l.,Salerno,56,Gnocchi di nonna Alice,both
65,26,Pasta Buttini s.r.l.,Salerno,57,Ravioli Angelo,both
66,28,Gai pâturage,Annecy,60,Camembert Pierrot,both
67,29,Forêts d'érables,Ste-Hyacinthe,61,Sirop d'érable,both

In [228]:
print(f'Length of suppliers {len(suppliers)}')
print(f'Length of products {len(products)}')
print(f'Length of sup_prod {len(sup_prod)}')

Length of suppliers 29
Length of products 68
Length of sup_prod 68

In [229]:
sup_prod_left = suppliers.merge(products, how='left', on='SupplierID', indicator=True)
sup_prod_left

,SupplierID,CompanyName,City,ProductID,ProductName,_merge
0,1,Exotic Liquids,London,1.0,Chai,both
1,1,Exotic Liquids,London,2.0,Chang,both
2,2,New Orleans Cajun Delights,New Orleans,NaN,NaN,left_only
3,3,Grandma Kelly's Homestead,Ann Arbor,6.0,Grandma's Boysenberry Spread,both
4,3,Grandma Kelly's Homestead,Ann Arbor,7.0,Uncle Bob's Organic Dried Pears,both
...,...,...,...,...,...,...
65,26,Pasta Buttini s.r.l.,Salerno,56.0,Gnocchi di nonna Alice,both
66,26,Pasta Buttini s.r.l.,Salerno,57.0,Ravioli Angelo,both
67,27,Escargots Nouveaux,Montceau,NaN,NaN,left_only
68,28,Gai pâturage,Annecy,60.0,Camembert Pierrot,both
69,29,Forêts d'érables,Ste-Hyacinthe,61.0,Sirop d'érable,both

In [230]:
filter = sup_prod_left['_merge'] == 'left_only'
sup_prod_left[filter]

,SupplierID,CompanyName,City,ProductID,ProductName,_merge
2,2,New Orleans Cajun Delights,New Orleans,NaN,NaN,left_only
67,27,Escargots Nouveaux,Montceau,NaN,NaN,left_only

In [231]:
products = pd.read_csv('./data/northwind-mongo-master/products.csv', usecols=['ProductID', 'ProductName', 'CategoryID', 'UnitPrice'])
categories = pd.read_csv('./data/northwind-mongo-master/categories1.csv', usecols =['CategoryID', 'CategoryName', 'Description'])

In [232]:
#Different names of clumns and how to solve it
categories.rename({'CategoryID': 'ID'}, axis=1, inplace=True)

In [233]:
products.merge(categories, left_on='CategoryID', right_on='ID').head()

,ProductID,ProductName,CategoryID,UnitPrice,ID,CategoryName,Description
0,1,Chai,1,18.00,1,Beverages,Soft drinks
1,2,Chang,1,19.00,1,Beverages,Soft drinks
2,3,Aniseed Syrup,2,10.00,2,Condiments,Sweet and savory sauces
3,4,Chef Anton's Cajun Seasoning,2,22.00,2,Condiments,Sweet and savory sauces
4,5,Chef Anton's Gumbo Mix,2,21.35,2,Condiments,Sweet and savory sauces

In [234]:
products.rename({'ProductName':'Name'}, axis=1, inplace=True)
categories.rename({'CategoryName': 'Name'}, axis=1, inplace=True)

In [235]:
products.merge(categories, left_on='CategoryID', right_on='ID', suffixes=['_Products', '_Categories'], sort=True).head()

,ProductID,Name_Products,CategoryID,UnitPrice,ID,Name_Categories,Description
0,1,Chai,1,18.0,1,Beverages,Soft drinks
1,2,Chang,1,19.0,1,Beverages,Soft drinks
2,24,Guaraná Fantástica,1,4.5,1,Beverages,Soft drinks
3,34,Sasquatch Ale,1,14.0,1,Beverages,Soft drinks
4,35,Steeleye Stout,1,18.0,1,Beverages,Soft drinks

In [236]:
#index
categories.set_index("ID", inplace=True)
categories.head()

              Name              Description
ID
1        Beverages              Soft drinks
2       Condiments  Sweet and savory sauces
3      Confections                 Desserts
4   Dairy Products                  Cheeses
5   Grains/Cereals                   Breads

In [237]:
products.merge(categories, left_on='CategoryID', right_index=True, suffixes=['_Products', '_Categories'], sort=True).head()

,ProductID,Name_Products,CategoryID,UnitPrice,Name_Categories,Description
0,1,Chai,1,18.0,Beverages,Soft drinks
1,2,Chang,1,19.0,Beverages,Soft drinks
23,24,Guaraná Fantástica,1,4.5,Beverages,Soft drinks
33,34,Sasquatch Ale,1,14.0,Beverages,Soft drinks
34,35,Steeleye Stout,1,18.0,Beverages,Soft drinks

In [238]:
#Challange
products = pd.read_csv('./data/northwind-mongo-master/products.csv', usecols=['ProductID', 'ProductName', 'SupplierID'])
suppliers = pd.read_csv('./data/northwind-mongo-master/suppliers.csv', usecols=['SupplierID', 'CompanyName', 'City'])

In [239]:
merged = suppliers.merge(products, indicator=True, on='SupplierID')
merged

,SupplierID,CompanyName,City,ProductID,ProductName,_merge
0,1,Exotic Liquids,London,1,Chai,both
1,1,Exotic Liquids,London,2,Chang,both
2,1,Exotic Liquids,London,3,Aniseed Syrup,both
3,2,New Orleans Cajun Delights,New Orleans,4,Chef Anton's Cajun Seasoning,both
4,2,New Orleans Cajun Delights,New Orleans,5,Chef Anton's Gumbo Mix,both
...,...,...,...,...,...,...
72,27,Escargots Nouveaux,Montceau,58,Escargots de Bourgogne,both
73,28,Gai pâturage,Annecy,59,Raclette Courdavault,both
74,28,Gai pâturage,Annecy,60,Camembert Pierrot,both
75,29,Forêts d'érables,Ste-Hyacinthe,61,Sirop d'érable,both
76,29,Forêts d'érables,Ste-Hyacinthe,62,Tarte au sucre,both

In [240]:
#Index and merge
suppliers.set_index('SupplierID', inplace=True)
merged = suppliers.merge(products, left_index=True, right_on='SupplierID')
merged

,CompanyName,City,ProductID,ProductName,SupplierID
0,Exotic Liquids,London,1,Chai,1
1,Exotic Liquids,London,2,Chang,1
2,Exotic Liquids,London,3,Aniseed Syrup,1
3,New Orleans Cajun Delights,New Orleans,4,Chef Anton's Cajun Seasoning,2
4,New Orleans Cajun Delights,New Orleans,5,Chef Anton's Gumbo Mix,2
...,...,...,...,...,...
57,Escargots Nouveaux,Montceau,58,Escargots de Bourgogne,27
58,Gai pâturage,Annecy,59,Raclette Courdavault,28
59,Gai pâturage,Annecy,60,Camembert Pierrot,28
60,Forêts d'érables,Ste-Hyacinthe,61,Sirop d'érable,29
61,Forêts d'érables,Ste-Hyacinthe,62,Tarte au sucre,29

In [241]:
products.set_index('SupplierID', inplace=True)
suppliers.join(products).head()

,CompanyName,City,ProductID,ProductName
SupplierID,,,,
1,Exotic Liquids,London,1,Chai
1,Exotic Liquids,London,2,Chang
1,Exotic Liquids,London,3,Aniseed Syrup
2,New Orleans Cajun Delights,New Orleans,4,Chef Anton's Cajun Seasoning
2,New Orleans Cajun Delights,New Orleans,5,Chef Anton's Gumbo Mix

merging three and more dataframes

In [248]:
products = pd.read_csv('./data/northwind-mongo-master/products.csv', usecols=['ProductID', 'ProductName', 'CategoryID', 'UnitPrice'])
categories = pd.read_csv('./data/northwind-mongo-master/categories1.csv', usecols =['CategoryID', 'CategoryName', 'Description'])
orders = pd.read_csv('./data/northwind-mongo-master/order-details.csv')

In [249]:
cat_prod = products.merge(categories, on='CategoryID')
cat_prod

,ProductID,ProductName,CategoryID,UnitPrice,CategoryName,Description
0,1,Chai,1,18.00,Beverages,Soft drinks
1,2,Chang,1,19.00,Beverages,Soft drinks
2,3,Aniseed Syrup,2,10.00,Condiments,Sweet and savory sauces
3,4,Chef Anton's Cajun Seasoning,2,22.00,Condiments,Sweet and savory sauces
4,5,Chef Anton's Gumbo Mix,2,21.35,Condiments,Sweet and savory sauces
...,...,...,...,...,...,...
72,73,Röd Kaviar,8,15.00,Seafood,Seaweed and fish
73,74,Longlife Tofu,7,10.00,Produce,Dried fruit and bean curd
74,75,Rhönbräu Klosterbier,1,7.75,Beverages,Soft drinks
75,76,Lakkalikööri,1,18.00,Beverages,Soft drinks
76,77,Original Frankfurter grüne Soße,2,13.00,Condiments,Sweet and savory sauces

In [251]:
cat_prod.merge(orders, on='ProductID', suffixes=['_Prod', '_Order']).head()

,ProductID,ProductName,CategoryID,UnitPrice_Prod,CategoryName,Description,OrderID,UnitPrice_Order,Quantity,Discount
0,1,Chai,1,18.0,Beverages,Soft drinks,10285,14.4,45,0.20
1,1,Chai,1,18.0,Beverages,Soft drinks,10294,14.4,18,0.00
2,1,Chai,1,18.0,Beverages,Soft drinks,10317,14.4,20,0.00
3,1,Chai,1,18.0,Beverages,Soft drinks,10348,14.4,15,0.15
4,1,Chai,1,18.0,Beverages,Soft drinks,10354,14.4,12,0.00