In [79]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
import random

pd.Series can have int, str, bool, float values. It depends from the main var and what is inside

In [80]:
#pd.Series, it create the column and idex
countries = ['Poland', 'Denmark', 'Germany']
countries = pd.Series(countries)
countries

0     Poland
1    Denmark
2    Germany
dtype: object

In [81]:
#If dict it will put key as an index.
films = {'1941': 1979,
         'Jaws': 1975,
         'Indiana Jones': 1981,
         'E.T': 1982}
films = pd.Series(films)
films

1941             1979
Jaws             1975
Indiana Jones    1981
E.T              1982
dtype: int64

Atributes

In [82]:
print(f'The size is {countries.size}') #X as a name of var and size as atribute
print(f'The memoery usage is bytes is {films.nbytes}') #How many bytes it takes in the memory, remeber to keep it small to reduce the size of data.
print(f'Are there unique values?: {films.is_unique}')
print(f'Are the data series sorted? {films.is_monotonic_decreasing}')
print(f'How index was created: {countries.index}')
print(f'Type of the data series {films.dtype}')
print(f'What is shape {films.shape}') #Always one dimension, becuase it is one column only
print(f'Values of the data series {countries.values}')#Print the value of dataseries.

The size is 3
The memoery usage is bytes is 32
Are there unique values?: True
Are the data series sorted? False
How index was created: RangeIndex(start=0, stop=3, step=1)
Type of the data series int64
What is shape (4,)
Values of the data series ['Poland' 'Denmark' 'Germany']

In [83]:
dataAsSeries = []
for i in range(1000):
    dataAsSeries.append(i*random.random())
dataAsSeries = pd.Series(dataAsSeries)
dataAsSeries

0        0.000000
1        0.777412
2        1.210486
3        0.851997
4        2.221483
          ...
995    170.459193
996    272.425279
997    726.823520
998    675.655885
999    120.619059
Length: 1000, dtype: float64

In [84]:
print(f'The size is {dataAsSeries.size}') #X as a name of var and size as atribute
print(f'The memoery usage is bytes is {dataAsSeries.nbytes}') #How many bytes it takes in the memory, remeber to keep it small to reduce the size of data.
print(f'Are there unique values?: {dataAsSeries.is_unique}')
print(f'Are the data series sorted? {dataAsSeries.is_monotonic_decreasing}')
print(f'How index was created: {dataAsSeries.index}')
print(f'Type of the data series {dataAsSeries.dtype}')
print(f'What is shape {dataAsSeries.shape}') #Always one dimension, becuase it is one column only
print(f'The axes of data series {dataAsSeries.axes}')#Print the axes of dataseries.

The size is 1000
The memoery usage is bytes is 8000
Are there unique values?: True
Are the data series sorted? False
How index was created: RangeIndex(start=0, stop=1000, step=1)
Type of the data series float64
What is shape (1000,)
The axes of data series [RangeIndex(start=0, stop=1000, step=1)]

Filtering data series

In [85]:
x = [1,2,3,4,5,6,7,8,9,10,12,14,50,70,100,101]
x = pd.Series(x)
x

0       1
1       2
2       3
3       4
4       5
5       6
6       7
7       8
8       9
9      10
10     12
11     14
12     50
13     70
14    100
15    101
dtype: int64

In [86]:
#It gives back the interesting item by its index
x.filter(items=[1,2,3])

1    2
2    3
3    4
dtype: int64

In [87]:
#Which number is higher than 14? Other helps to define value that are not sutible for the condition
x.where(x>14, other=-1)

0      -1
1      -1
2      -1
3      -1
4      -1
5      -1
6      -1
7      -1
8      -1
9      -1
10     -1
11     -1
12     50
13     70
14    100
15    101
dtype: int64

In [88]:
#Make a condition and filter data series to keep onyl values that are sutible
x.where(x>14, inplace=True)
x.dropna(inplace=True)
x

12     50.0
13     70.0
14    100.0
15    101.0
dtype: float64

In [89]:
age = ["6", "7-14", "15-17", "18-24", "25-39", "40-59", "60"]
accidents = [14,334,312,5823,9491,7486, 4343]
data = pd.Series(data=accidents, index=age)
data

6          14
7-14      334
15-17     312
18-24    5823
25-39    9491
40-59    7486
60       4343
dtype: int64

In [90]:
#Less than 1000 accidents:
less1000 = data.where(data>1000)
less1000.dropna(inplace=True)
less1000

18-24    5823.0
25-39    9491.0
40-59    7486.0
60       4343.0
dtype: float64

In [91]:
#Filter data only for the group age 18-24
data.filter(items=['18-24'])

18-24    5823
dtype: int64

In [92]:
#Filter only for adults by index
data.filter(items=['18-24', '25-39', '40-59', '60'])

18-24    5823
25-39    9491
40-59    7486
60       4343
dtype: int64

In [93]:
#Importing, squeeze make a datframe read as data series
pokemon = pd.read_csv('./data/pokemon.csv', usecols=['Name']).squeeze()
pokemon

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [94]:
pok_list = list(pokemon.head())
type(pok_list)

list

In [95]:
dict_pok = dict(pokemon.head())
type(dict_pok)

dict

In [96]:
print(f'Lentght of data series {len(pokemon)}')
print(f'Type {type(pokemon)}')
print(f'Sorted first 5 {sorted(pokemon.head())}')

Lentght of data series 800
Type <class 'pandas.core.series.Series'>
Sorted first 5 ['Bulbasaur', 'Charmander', 'Ivysaur', 'Venusaur', 'VenusaurMega Venusaur']

Sorting

In [97]:
#Sort values 
pokemon = pokemon.sort_values(ascending=False)
pokemon

794           Zygarde50% Forme
695                   Zweilous
46                       Zubat
631                      Zorua
632                    Zoroark
                ...
393            AbsolMega Absol
392                      Absol
68                        Abra
511    AbomasnowMega Abomasnow
510                  Abomasnow
Name: Name, Length: 800, dtype: object

In [98]:
pokemon = pokemon.sort_index(ascending=True)
pokemon

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

Check if the value is in the data series by using in

In [99]:
country = ['PL', 'ENG', 'GER', 'DK']
if 'PL' in country:
    print('Yes')

Yes

In [100]:
if 'NOR' in country:
    print('Yes')
else:
    print('Not in list')

Not in list

In [101]:
900 in pokemon

False

In [102]:
1 in pokemon

True

Getting value by index

In [106]:
print(f'First 5 {pokemon[:5]}')
print(f'Last 5 {pokemon[5:]}')
print(f'Between 10 and 15 {pokemon[10:15]}')
#Rest in book

First 5 0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object
Last 5 5                     Charmeleon
6                      Charizard
7      CharizardMega Charizard X
8      CharizardMega Charizard Y
9                       Squirtle
                 ...
795                      Diancie
796          DiancieMega Diancie
797          HoopaHoopa Confined
798           HoopaHoopa Unbound
799                    Volcanion
Name: Name, Length: 795, dtype: object
Between 10 and 15 10                  Wartortle
11                  Blastoise
12    BlastoiseMega Blastoise
13                   Caterpie
14                    Metapod
Name: Name, dtype: object

loc[], iloc[]

In [107]:
index = ['a', 'b', 'c', 'd','e', 'e', 'f']
value = ['Australia', 'Belgium', 'Canada', 'Denmark', 'England', 'Estonia', 'Finland']
data = pd.Series(index=index, data=value)
data

a    Australia
b      Belgium
c       Canada
d      Denmark
e      England
e      Estonia
f      Finland
dtype: object

In [111]:
#Getting value by position
data.loc[1] #error

In [113]:
#By index
data.loc['e']

e    England
e    Estonia
dtype: object

<img src='./data/iloc[].png'>

In [114]:
#By position
data.iloc[1]

'Belgium'

In [119]:
data.iloc[[0,2]]

a    Australia
c       Canada
dtype: object

In [121]:
#VERY IMPORTANT FOR BIG SEARCHING FOR DATA
e_countires = ['e']
data.loc[e_countires]

e    England
e    Estonia
dtype: object

Setting index

In [125]:
#DEFINE TWO COLUMNS AND FROM THAT SELECTION PICK ONE FOR INDEX
data = pd.read_csv('./data/pokemon.csv', usecols=['Name', 'Attack'], index_col='Name')
data

                       Attack
Name
Bulbasaur                  49
Ivysaur                    62
Venusaur                   82
VenusaurMega Venusaur     100
Charmander                 52
...                       ...
Diancie                   100
DiancieMega Diancie       160
HoopaHoopa Confined       110
HoopaHoopa Unbound        160
Volcanion                 110

[800 rows x 1 columns]

In [127]:
data.iloc[2]

Attack    82
Name: Venusaur, dtype: int64

In [134]:
data.loc['Diancie']

Attack    100
Name: Diancie, dtype: int64

Data manipulation

In [135]:
data100 = data * 100
data100

                       Attack
Name
Bulbasaur                4900
Ivysaur                  6200
Venusaur                 8200
VenusaurMega Venusaur   10000
Charmander               5200
...                       ...
Diancie                 10000
DiancieMega Diancie     16000
HoopaHoopa Confined     11000
HoopaHoopa Unbound      16000
Volcanion               11000

[800 rows x 1 columns]