In [2]:
import pandas as pd
import numpy as np

In [5]:
categories = pd.read_csv('./data/northwind-mongo-master/categories1.csv')
categories.head()

   CategoryID    CategoryName              Description
0           1       Beverages              Soft drinks
1           2      Condiments  Sweet and savory sauces
2           3     Confections                 Desserts
3           4  Dairy Products                  Cheeses
4           5  Grains/Cereals                   Breads

In [6]:
products = pd.read_csv('./data/northwind-mongo-master/products.csv')
products.head()

,ProductID,ProductName,SupplierID,CategoryID,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued
0,1,Chai,1,1,10 boxes x 20 bags,18.00,39,0,10,0
1,2,Chang,1,1,24 - 12 oz bottles,19.00,17,40,25,0
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00,13,70,25,0
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00,53,0,0,0
4,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35,0,0,0,1

In [7]:
suppliers = pd.read_csv('./data/northwind-mongo-master/suppliers.csv')
suppliers.head()

,SupplierID,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax,HomePage
0,1,Exotic Liquids,Charlotte Cooper,Purchasing Manager,49 Gilbert St.,London,NaN,EC1 4SD,UK,(171) 555-2222,NaN,NaN
1,2,New Orleans Cajun Delights,Shelley Burke,Order Administrator,P.O. Box 78934,New Orleans,LA,70117,USA,(100) 555-4822,NaN,#CAJUN.HTM#
2,3,Grandma Kelly's Homestead,Regina Murphy,Sales Representative,707 Oxford Rd.,Ann Arbor,MI,48104,USA,(313) 555-5735,(313) 555-3349,NaN
3,4,Tokyo Traders,Yoshi Nagase,Marketing Manager,9-8 Sekimai Musashino-shi,Tokyo,NaN,100,Japan,(03) 3555-5011,NaN,NaN
4,5,Cooperativa de Quesos 'Las Cabras',Antonio del Valle Saavedra,Export Administrator,Calle del Rosal 4,Oviedo,Asturias,33007,Spain,(98) 598 76 54,NaN,NaN

In [8]:
customers = pd.read_csv('./data/northwind-mongo-master/customers.csv')
customers.head()

,CustomerID,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax
0,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,030-0076545
1,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,Owner,Avda. de la Constituci??n 2222,M?©xico D.F.,NaN,5021,Mexico,(5) 555-4729,(5) 555-3745
2,ANTON,Antonio Moreno Taquer?­a,Antonio Moreno,Owner,Mataderos 2312,M?©xico D.F.,NaN,5023,Mexico,(5) 555-3932,NaN
3,AROUT,Around the Horn,Thomas Hardy,Sales Representative,120 Hanover Sq.,London,NaN,WA1 1DP,UK,(171) 555-7788,(171) 555-6750
4,BERGS,Berglunds snabbk?¶p,Christina Berglund,Order Administrator,Berguvsv?¤gen 8,Lule??,NaN,S-958 22,Sweden,0921-12 34 65,0921-12 34 67

Concat - is looking for same columns, so it can glue those dataframes. It also allows to add more then 1 dataframe, you can add 2,3,4,.... dataframes. Use ingore_index to create new idnex

In [10]:
suppliers = pd.read_csv('./data/northwind-mongo-master/suppliers.csv', usecols=['SupplierID', 'CompanyName', 'Country'])
suppliers.head()

   SupplierID                         CompanyName Country
0           1                      Exotic Liquids      UK
1           2          New Orleans Cajun Delights     USA
2           3           Grandma Kelly's Homestead     USA
3           4                       Tokyo Traders   Japan
4           5  Cooperativa de Quesos 'Las Cabras'   Spain

In [12]:
customers = pd.read_csv('./data/northwind-mongo-master/customers.csv', usecols=['CustomerID', 'CompanyName', 'Country'])
customers.head()

  CustomerID                         CompanyName  Country
0      ALFKI                 Alfreds Futterkiste  Germany
1      ANATR  Ana Trujillo Emparedados y helados   Mexico
2      ANTON            Antonio Moreno Taquer?­a   Mexico
3      AROUT                     Around the Horn       UK
4      BERGS                 Berglunds snabbk?¶p   Sweden

In [19]:
#Customers are added to suppliers
suppliers_cusomter = pd.concat([suppliers, customers], ignore_index=True)
suppliers_cusomter

     SupplierID                         CompanyName  Country CustomerID
0           1.0                      Exotic Liquids       UK        NaN
1           2.0          New Orleans Cajun Delights      USA        NaN
2           3.0           Grandma Kelly's Homestead      USA        NaN
3           4.0                       Tokyo Traders    Japan        NaN
4           5.0  Cooperativa de Quesos 'Las Cabras'    Spain        NaN
..          ...                                 ...      ...        ...
115         NaN                      Wartian Herkku  Finland      WARTH
116         NaN              Wellington Importadora   Brazil      WELLI
117         NaN                White Clover Markets      USA      WHITC
118         NaN                         Wilman Kala  Finland      WILMK
119         NaN                      Wolski  Zajazd   Poland      WOLZA

[120 rows x 4 columns]

Join() -

<img src='./data/join.png'>

In [21]:
prod_1 = pd.read_csv('./data/northwind-mongo-master/products.csv', usecols=['ProductID', 'ProductName'], index_col='ProductID')
prod_2 = pd.read_csv('./data/northwind-mongo-master/products.csv', usecols=['ProductID', 'UnitPrice', 'UnitsInStock'], index_col='ProductID')

In [28]:
#Join data and make a value columns whcih calcualtes value of each product
joined_data = prod_1.join(prod_2).head()
joined_data['Value'] = joined_data['UnitPrice'] * joined_data['UnitsInStock']
joined_data

                            ProductName  UnitPrice  UnitsInStock   Value
ProductID
1                                  Chai      18.00            39   702.0
2                                 Chang      19.00            17   323.0
3                         Aniseed Syrup      10.00            13   130.0
4          Chef Anton's Cajun Seasoning      22.00            53  1166.0
5                Chef Anton's Gumbo Mix      21.35             0     0.0

In [29]:
categories = pd.read_csv('./data/northwind-mongo-master/categories1.csv', usecols=['CategoryID', 'CategoryName', 'Description'])
products = pd.read_csv('./data/northwind-mongo-master/products.csv', usecols=['ProductID', 'ProductName', 'UnitPrice', 'CategoryID'])

In [30]:
categories.set_index('CategoryID', inplace=True)

In [32]:
#CHECK INDEXES!!!
products.join(other = categories, on = 'CategoryID')

,ProductID,ProductName,CategoryID,UnitPrice,CategoryName,Description
0,1,Chai,1,18.00,Beverages,Soft drinks
1,2,Chang,1,19.00,Beverages,Soft drinks
2,3,Aniseed Syrup,2,10.00,Condiments,Sweet and savory sauces
3,4,Chef Anton's Cajun Seasoning,2,22.00,Condiments,Sweet and savory sauces
4,5,Chef Anton's Gumbo Mix,2,21.35,Condiments,Sweet and savory sauces
...,...,...,...,...,...,...
72,73,Röd Kaviar,8,15.00,Seafood,Seaweed and fish
73,74,Longlife Tofu,7,10.00,Produce,Dried fruit and bean curd
74,75,Rhönbräu Klosterbier,1,7.75,Beverages,Soft drinks
75,76,Lakkalikööri,1,18.00,Beverages,Soft drinks
76,77,Original Frankfurter grüne Soße,2,13.00,Condiments,Sweet and savory sauces