In [59]:
import pandas as pd 
import numpy as np

In [60]:
data = pd.read_csv('./data/Canadian Railway Crossing Incidents.csv')
data.head()

,Region,EventType,Public automated,Public passive,Private,Farm
0,Newfoundland,Accidents,0,0,0,0
1,Newfoundland,Fatalities,0,0,0,0
2,Newfoundland,Serious injuries,0,0,0,0
3,Nova Scotia,Accidents,1,0,0,0
4,Nova Scotia,Fatalities,0,0,0,0

In [61]:
# Set Multiindex
data = data.set_index(['Region', 'EventType'])
data.sort_index(ascending=[True,False], inplace=True)
data

                                        Public automated  Public passive  \
Region                EventType
Alberta               Serious injuries                 0               1
                      Fatalities                       0               0
                      Accidents                        3               7
British Columbia      Serious injuries                 3               0
                      Fatalities                       0               0
                      Accidents                        4               1
Manitoba              Serious injuries                 0               0
                      Fatalities                       0               1
                      Accidents                        1               3
New Brunswick         Serious injuries                 0               0
                      Fatalities                       0               0
                      Accidents                        0               0
Newfoundland          Serious injuries                 0               0
                      Fatalities                       0               0
                      Accidents                        0               0
Northwest Territories Serious injuries                 0               0
                      Fatalities                       0               0
                      Accidents                        0               0
Nova Scotia           Serious injuries                 0               0
                      Fatalities                       0               0
                      Accidents                        1               0
Ontario               Serious injuries                 1               0
                      Fatalities                       1               0
                      Accidents                        7               0
Quebec                Serious injuries                 0               0
                      Fatalities                       1               0
                      Accidents                        4               0
Saskatchewan          Serious injuries                 0               0
                      Fatalities                       0               0
                      Accidents                        1               3

                                        Private  Farm
Region                EventType
Alberta               Serious injuries        2     0
                      Fatalities              0     0
                      Accidents               2     0
British Columbia      Serious injuries        0     0
                      Fatalities              0     0
                      Accidents               0     0
Manitoba              Serious injuries        0     1
                      Fatalities              0     0
                      Accidents               0     2
New Brunswick         Serious injuries        0     0
                      Fatalities              0     0
                      Accidents               0     0
Newfoundland          Serious injuries        0     0
                      Fatalities              0     0
                      Accidents               0     0
Northwest Territories Serious injuries        0     0
                      Fatalities              0     0
                      Accidents               0     0
Nova Scotia           Serious injuries        0     0
                      Fatalities              0     0
                      Accidents               0     0
Ontario               Serious injuries        0     0
                      Fatalities              0     0
                      Accidents               2     0
Quebec                Serious injuries        0     0
                      Fatalities              0     0
                      Accidents               1     0
Saskatchewan          Serious injuries        0     0
                      Fatalities              0     0
                      Accidents               0     0

In [62]:
#Challange
data =pd.read_csv('./data/Air_Traffic_Passenger_statistics.csv')
data.head()

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count
0,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271
1,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131
2,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415
3,200507,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156
4,200507,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090

In [63]:
data.set_index(['Activity Period', 'Operating Airline'], inplace=True)
data.head()

                                  Operating Airline IATA Code  \
Activity Period Operating Airline
200507          ATA Airlines                               TZ
                ATA Airlines                               TZ
                ATA Airlines                               TZ
                Air Canada                                 AC
                Air Canada                                 AC

                                  Published Airline  \
Activity Period Operating Airline
200507          ATA Airlines           ATA Airlines
                ATA Airlines           ATA Airlines
                ATA Airlines           ATA Airlines
                Air Canada               Air Canada
                Air Canada               Air Canada

                                  Published Airline IATA Code    GEO Summary  \
Activity Period Operating Airline
200507          ATA Airlines                               TZ       Domestic
                ATA Airlines                               TZ       Domestic
                ATA Airlines                               TZ       Domestic
                Air Canada                                 AC  International
                Air Canada                                 AC  International

                                  GEO Region Activity Type Code  \
Activity Period Operating Airline
200507          ATA Airlines              US           Deplaned
                ATA Airlines              US           Enplaned
                ATA Airlines              US     Thru / Transit
                Air Canada            Canada           Deplaned
                Air Canada            Canada           Enplaned

                                  Price Category Code    Terminal  \
Activity Period Operating Airline
200507          ATA Airlines                 Low Fare  Terminal 1
                ATA Airlines                 Low Fare  Terminal 1
                ATA Airlines                 Low Fare  Terminal 1
                Air Canada                      Other  Terminal 1
                Air Canada                      Other  Terminal 1

                                  Boarding Area  Passenger Count
Activity Period Operating Airline
200507          ATA Airlines                  B            27271
                ATA Airlines                  B            29131
                ATA Airlines                  B             5415
                Air Canada                    B            35156
                Air Canada                    B            34090

In [64]:
data.reset_index(inplace=True)
data.set_index(['Activity Period', 'Operating Airline', 'Activity Type Code'], inplace=True)
data.head(10)

                                                     Operating Airline IATA Code  \
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned                                    TZ
                                  Enplaned                                    TZ
                                  Thru / Transit                              TZ
                Air Canada        Deplaned                                    AC
                                  Enplaned                                    AC
                Air China         Deplaned                                    CA
                                  Enplaned                                    CA
                Air France        Deplaned                                    AF
                                  Enplaned                                    AF
                Air New Zealand   Deplaned                                    NZ

                                                     Published Airline  \
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned                ATA Airlines
                                  Enplaned                ATA Airlines
                                  Thru / Transit          ATA Airlines
                Air Canada        Deplaned                  Air Canada
                                  Enplaned                  Air Canada
                Air China         Deplaned                   Air China
                                  Enplaned                   Air China
                Air France        Deplaned                  Air France
                                  Enplaned                  Air France
                Air New Zealand   Deplaned             Air New Zealand

                                                     Published Airline IATA Code  \
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned                                    TZ
                                  Enplaned                                    TZ
                                  Thru / Transit                              TZ
                Air Canada        Deplaned                                    AC
                                  Enplaned                                    AC
                Air China         Deplaned                                    CA
                                  Enplaned                                    CA
                Air France        Deplaned                                    AF
                                  Enplaned                                    AF
                Air New Zealand   Deplaned                                    NZ

                                                        GEO Summary  \
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned                 Domestic
                                  Enplaned                 Domestic
                                  Thru / Transit           Domestic
                Air Canada        Deplaned            International
                                  Enplaned            International
                Air China         Deplaned            International
                                  Enplaned            International
                Air France        Deplaned            International
                                  Enplaned            International
                Air New Zealand   Deplaned            International

                                                               GEO Region  \
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned                             US
                                  Enplaned                             US
                                  Thru / Transit                       US
                Air Canada        Deplaned                         Canada
                                  Enplaned                         Canada
                Air China         Deplaned                           Asia
                                  Enplaned                           Asia
                Air France        Deplaned                         Europe
                                  Enplaned                         Europe
                Air New Zealand   Deplaned            Australia / Oceania

                                                     Price Category Code  \
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned                      Low Fare
                                  Enplaned                      Low Fare
                                  Thru / Transit                Low Fare
                Air Canada        Deplaned                         Other
                                  Enplaned                         Other
                Air China         Deplaned                         Other
                                  Enplaned                         Other
                Air France        Deplaned                         Other
                                  Enplaned                         Other
                Air New Zealand   Deplaned                         Other

                                                           Terminal  \
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned               Terminal 1
                                  Enplaned               Terminal 1
                                  Thru / Transit         Terminal 1
                Air Canada        Deplaned               Terminal 1
                                  Enplaned               Terminal 1
                Air China         Deplaned            International
                                  Enplaned            International
                Air France        Deplaned            International
                                  Enplaned            International
                Air New Zealand   Deplaned            International

                                                     Boarding Area  \
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned                       B
                                  Enplaned                       B
                                  Thru / Transit                 B
                Air Canada        Deplaned                       B
                                  Enplaned                       B
                Air China         Deplaned                       G
                                  Enplaned                       G
                Air France        Deplaned                       A
                                  Enplaned                       A
                Air New Zealand   Deplaned                       G

                                                      Passenger Count
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned                      27271
                                  Enplaned                      29131
                                  Thru / Transit                 5415
                Air Canada        Deplaned                      35156
                                  Enplaned                      34090
                Air China         Deplaned                       6263
                                  Enplaned                       5500
                Air France        Deplaned                      12050
                                  Enplaned                      11638
                Air New Zealand   Deplaned                       4998

Searching data by multiindex

In [65]:
data = pd.read_csv('./data/Canadian Railway Crossing Incidents.csv')
data.set_index(['Region', 'EventType'], inplace=True)
data.sort_index(inplace=True)
data

                                        Public automated  Public passive  \
Region                EventType
Alberta               Accidents                        3               7
                      Fatalities                       0               0
                      Serious injuries                 0               1
British Columbia      Accidents                        4               1
                      Fatalities                       0               0
                      Serious injuries                 3               0
Manitoba              Accidents                        1               3
                      Fatalities                       0               1
                      Serious injuries                 0               0
New Brunswick         Accidents                        0               0
                      Fatalities                       0               0
                      Serious injuries                 0               0
Newfoundland          Accidents                        0               0
                      Fatalities                       0               0
                      Serious injuries                 0               0
Northwest Territories Accidents                        0               0
                      Fatalities                       0               0
                      Serious injuries                 0               0
Nova Scotia           Accidents                        1               0
                      Fatalities                       0               0
                      Serious injuries                 0               0
Ontario               Accidents                        7               0
                      Fatalities                       1               0
                      Serious injuries                 1               0
Quebec                Accidents                        4               0
                      Fatalities                       1               0
                      Serious injuries                 0               0
Saskatchewan          Accidents                        1               3
                      Fatalities                       0               0
                      Serious injuries                 0               0

                                        Private  Farm
Region                EventType
Alberta               Accidents               2     0
                      Fatalities              0     0
                      Serious injuries        2     0
British Columbia      Accidents               0     0
                      Fatalities              0     0
                      Serious injuries        0     0
Manitoba              Accidents               0     2
                      Fatalities              0     0
                      Serious injuries        0     1
New Brunswick         Accidents               0     0
                      Fatalities              0     0
                      Serious injuries        0     0
Newfoundland          Accidents               0     0
                      Fatalities              0     0
                      Serious injuries        0     0
Northwest Territories Accidents               0     0
                      Fatalities              0     0
                      Serious injuries        0     0
Nova Scotia           Accidents               0     0
                      Fatalities              0     0
                      Serious injuries        0     0
Ontario               Accidents               2     0
                      Fatalities              0     0
                      Serious injuries        0     0
Quebec                Accidents               1     0
                      Fatalities              0     0
                      Serious injuries        0     0
Saskatchewan          Accidents               0     0
                      Fatalities              0     0
                      Serious injuries        0     0

In [66]:
#Check choosen data
data.loc[('Ontario','Accidents')]

Public automated    7
Public passive      0
Private             2
Farm                0
Name: (Ontario, Accidents), dtype: int64

In [67]:
data.loc[('Ontario')]

                  Public automated  Public passive  Private  Farm
EventType
Accidents                        7               0        2     0
Fatalities                       1               0        0     0
Serious injuries                 1               0        0     0

In [68]:
data.loc['Ontario']

                  Public automated  Public passive  Private  Farm
EventType
Accidents                        7               0        2     0
Fatalities                       1               0        0     0
Serious injuries                 1               0        0     0

In [69]:
#iloc
data.iloc[2]

Public automated    0
Public passive      1
Private             2
Farm                0
Name: (Alberta, Serious injuries), dtype: int64

In [70]:
#More accuarte looking for data
data.loc[('Ontario', 'Accidents')].loc['Public automated']

7

In [71]:
data = pd.read_csv('./data/Air_Traffic_Passenger_statistics.csv')
data.set_index(['Operating Airline', 'Activity Period', 'Activity Type Code'], inplace=True)
data.sort_index(inplace=True)
data

                                                                            Operating Airline IATA Code  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned                                    4O
                                                         Enplaned                                    4O
ATA Airlines                             200507          Deplaned                                    TZ
                                                         Enplaned                                    TZ
                                                         Thru / Transit                              TZ
...                                                                                                 ...
XL Airways France                        201708          Enplaned                                    SE
                                         201709          Deplaned                                    SE
                                                         Enplaned                                    SE
Xtra Airways                             200608          Deplaned                                    XP
                                                         Enplaned                                    XP

                                                                                                    Published Airline  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned            ABC Aerolineas S.A. de C.V. dba Interjet
                                                         Enplaned            ABC Aerolineas S.A. de C.V. dba Interjet
ATA Airlines                             200507          Deplaned                                        ATA Airlines
                                                         Enplaned                                        ATA Airlines
                                                         Thru / Transit                                  ATA Airlines
...                                                                                                               ...
XL Airways France                        201708          Enplaned                                   XL Airways France
                                         201709          Deplaned                                   XL Airways France
                                                         Enplaned                                   XL Airways France
Xtra Airways                             200608          Deplaned                                        Xtra Airways
                                                         Enplaned                                        Xtra Airways

                                                                            Published Airline IATA Code  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned                                    4O
                                                         Enplaned                                    4O
ATA Airlines                             200507          Deplaned                                    TZ
                                                         Enplaned                                    TZ
                                                         Thru / Transit                              TZ
...                                                                                                 ...
XL Airways France                        201708          Enplaned                                    SE
                                         201709          Deplaned                                    SE
                                                         Enplaned                                    SE
Xtra Airways                             200608          Deplaned                                    XP
                                                         Enplaned                                    XP

                                                                               GEO Summary  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned            International
                                                         Enplaned            International
ATA Airlines                             200507          Deplaned                 Domestic
                                                         Enplaned                 Domestic
                                                         Thru / Transit           Domestic
...                                                                                    ...
XL Airways France                        201708          Enplaned            International
                                         201709          Deplaned            International
                                                         Enplaned            International
Xtra Airways                             200608          Deplaned                 Domestic
                                                         Enplaned                 Domestic

                                                                            GEO Region  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned               Mexico
                                                         Enplaned               Mexico
ATA Airlines                             200507          Deplaned                   US
                                                         Enplaned                   US
                                                         Thru / Transit             US
...                                                                                ...
XL Airways France                        201708          Enplaned               Europe
                                         201709          Deplaned               Europe
                                                         Enplaned               Europe
Xtra Airways                             200608          Deplaned                   US
                                                         Enplaned                   US

                                                                            Price Category Code  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned                         Other
                                                         Enplaned                         Other
ATA Airlines                             200507          Deplaned                      Low Fare
                                                         Enplaned                      Low Fare
                                                         Thru / Transit                Low Fare
...                                                                                         ...
XL Airways France                        201708          Enplaned                         Other
                                         201709          Deplaned                         Other
                                                         Enplaned                         Other
Xtra Airways                             200608          Deplaned                         Other
                                                         Enplaned                         Other

                                                                                  Terminal  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned            International
                                                         Enplaned            International
ATA Airlines                             200507          Deplaned               Terminal 1
                                                         Enplaned               Terminal 1
                                                         Thru / Transit         Terminal 1
...                                                                                    ...
XL Airways France                        201708          Enplaned            International
                                         201709          Deplaned            International
                                                         Enplaned            International
Xtra Airways                             200608          Deplaned            International
                                                         Enplaned            International

                                                                            Boarding Area  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned                       A
                                                         Enplaned                       A
ATA Airlines                             200507          Deplaned                       B
                                                         Enplaned                       B
                                                         Thru / Transit                 B
...                                                                                   ...
XL Airways France                        201708          Enplaned                       A
                                         201709          Deplaned                       A
                                                         Enplaned                       A
Xtra Airways                             200608          Deplaned                       A
                                                         Enplaned                       A

                                                                             Passenger Count
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned                       1090
                                                         Enplaned                       1212
ATA Airlines                             200507          Deplaned                      27271
                                                         Enplaned                      29131
                                                         Thru / Transit                 5415
...                                                                                      ...
XL Airways France                        201708          Enplaned                       3837
                                         201709          Deplaned                       2075
                                                         Enplaned                       2291
Xtra Airways                             200608          Deplaned                         73
                                                         Enplaned                         73

[18398 rows x 9 columns]

In [72]:
#Pick airfrance in June 2005
data.loc[('Air France', 200507, 'Enplaned')]

,,,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Price Category Code,Terminal,Boarding Area,Passenger Count
Operating Airline,Activity Period,Activity Type Code,,,,,,,,,
Air France,200507,Enplaned,AF,Air France,AF,International,Europe,Other,International,A,11638

In [73]:
data.loc[('Air France', 200507)]

,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Price Category Code,Terminal,Boarding Area,Passenger Count
Activity Type Code,,,,,,,,,
Deplaned,AF,Air France,AF,International,Europe,Other,International,A,12050
Enplaned,AF,Air France,AF,International,Europe,Other,International,A,11638

In [74]:
data.loc[('Air France')].head(10)

                                   Operating Airline IATA Code  \
Activity Period Activity Type Code
200507          Deplaned                                    AF
                Enplaned                                    AF
200508          Deplaned                                    AF
                Enplaned                                    AF
200509          Deplaned                                    AF
                Enplaned                                    AF
200510          Deplaned                                    AF
                Enplaned                                    AF
200511          Deplaned                                    AF
                Enplaned                                    AF

                                   Published Airline  \
Activity Period Activity Type Code
200507          Deplaned                  Air France
                Enplaned                  Air France
200508          Deplaned                  Air France
                Enplaned                  Air France
200509          Deplaned                  Air France
                Enplaned                  Air France
200510          Deplaned                  Air France
                Enplaned                  Air France
200511          Deplaned                  Air France
                Enplaned                  Air France

                                   Published Airline IATA Code    GEO Summary  \
Activity Period Activity Type Code
200507          Deplaned                                    AF  International
                Enplaned                                    AF  International
200508          Deplaned                                    AF  International
                Enplaned                                    AF  International
200509          Deplaned                                    AF  International
                Enplaned                                    AF  International
200510          Deplaned                                    AF  International
                Enplaned                                    AF  International
200511          Deplaned                                    AF  International
                Enplaned                                    AF  International

                                   GEO Region Price Category Code  \
Activity Period Activity Type Code
200507          Deplaned               Europe               Other
                Enplaned               Europe               Other
200508          Deplaned               Europe               Other
                Enplaned               Europe               Other
200509          Deplaned               Europe               Other
                Enplaned               Europe               Other
200510          Deplaned               Europe               Other
                Enplaned               Europe               Other
200511          Deplaned               Europe               Other
                Enplaned               Europe               Other

                                         Terminal Boarding Area  \
Activity Period Activity Type Code
200507          Deplaned            International             A
                Enplaned            International             A
200508          Deplaned            International             A
                Enplaned            International             A
200509          Deplaned            International             A
                Enplaned            International             A
200510          Deplaned            International             A
                Enplaned            International             A
200511          Deplaned            International             A
                Enplaned            International             A

                                    Passenger Count
Activity Period Activity Type Code
200507          Deplaned                      12050
                Enplaned                      11638
200508          Deplaned                      11230
                Enplaned                      11731
200509          Deplaned                      10731
                Enplaned                      11337
200510          Deplaned                      10515
                Enplaned                      10796
200511          Deplaned                       7121
                Enplaned                       7574

In [80]:
#Accuarte data for 'Air France', 200507, 'Enplaned'
data.loc[('Air France', 200507, 'Enplaned'), 'Passenger Count']

Operating Airline  Activity Period  Activity Type Code
Air France         200507           Enplaned              11638
Name: Passenger Count, dtype: int64

In [81]:
#Accurte data for 'Air France', 200507, 'Deplaned'
data.loc[('Air France', 200507, 'Deplaned'), 'Passenger Count']

Operating Airline  Activity Period  Activity Type Code
Air France         200507           Deplaned              12050
Name: Passenger Count, dtype: int64

In [89]:
#Print rows between 20 and 25
data[20:25]

                                                     Operating Airline IATA Code  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200512          Enplaned                                    TZ
                                  Thru / Transit                              TZ
                  200601          Deplaned                                    TZ
                                  Enplaned                                    TZ
                                  Thru / Transit                              TZ

                                                     Published Airline  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200512          Enplaned                ATA Airlines
                                  Thru / Transit          ATA Airlines
                  200601          Deplaned                ATA Airlines
                                  Enplaned                ATA Airlines
                                  Thru / Transit          ATA Airlines

                                                     Published Airline IATA Code  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200512          Enplaned                                    TZ
                                  Thru / Transit                              TZ
                  200601          Deplaned                                    TZ
                                  Enplaned                                    TZ
                                  Thru / Transit                              TZ

                                                     GEO Summary GEO Region  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200512          Enplaned              Domestic         US
                                  Thru / Transit        Domestic         US
                  200601          Deplaned              Domestic         US
                                  Enplaned              Domestic         US
                                  Thru / Transit        Domestic         US

                                                     Price Category Code  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200512          Enplaned                      Low Fare
                                  Thru / Transit                Low Fare
                  200601          Deplaned                      Low Fare
                                  Enplaned                      Low Fare
                                  Thru / Transit                Low Fare

                                                        Terminal  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200512          Enplaned            Terminal 1
                                  Thru / Transit      Terminal 1
                  200601          Deplaned            Terminal 1
                                  Enplaned            Terminal 1
                                  Thru / Transit      Terminal 1

                                                     Boarding Area  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200512          Enplaned                       B
                                  Thru / Transit                 B
                  200601          Deplaned                       B
                                  Enplaned                       B
                                  Thru / Transit                 B

                                                      Passenger Count
Operating Airline Activity Period Activity Type Code
ATA Airlines      200512          Enplaned                      16790
                                  Thru / Transit                 2402
                  200601          Deplaned                      13010
                                  Enplaned                      12226
                                  Thru / Transit                 3316

In [92]:
#Print rows between 20 and 25 but only column 8
data.iloc[20:25, 8]

Operating Airline  Activity Period  Activity Type Code
ATA Airlines       200512           Enplaned              16790
                                    Thru / Transit         2402
                   200601           Deplaned              13010
                                    Enplaned              12226
                                    Thru / Transit         3316
Name: Passenger Count, dtype: int64

transpose - reflect dataframe over its main diagonal by writing rows as columns and vice-versa.

In [94]:
d1 = {'col1' : [1,2], 'col2': [3,4]}
d1 = pd.DataFrame(d1)
d1

   col1  col2
0     1     3
1     2     4

In [95]:
d1_transposed = d1.T
d1_transposed

      0  1
col1  1  2
col2  3  4