In [2]:
import pandas as pd 
import numpy as np
from datetime import datetime

In [4]:
myyear = 2015
mymonth  = 1
myday = 1
myhour = 13
mymin = 10
mysec = 56
mydate = datetime(myyear, mymonth, myday)
mydate

datetime.datetime(2015, 1, 1, 0, 0)

In [10]:
#Set var = datetime(......) format is year, month, day, hour, min, sec
mydatetime = datetime(myyear, mymonth, myday, myhour, mymin, mysec)
#var.year will present year
mydatetime.year

2015

In [17]:
myseries = pd.Series(['Nov 3, 1990', '2001-01-01', None])
myseries

0    Nov 3, 1990
1     2001-01-01
2           None
dtype: object

In [26]:
#to_datetime = adjsut all string that might contain dates to one
newser = pd.to_datetime(myseries, format='mixed', errors='coerce')
newser

0   1990-11-03
1   2001-01-01
2          NaT
dtype: datetime64[ns]

In [27]:
sales = pd.read_csv('./data/RetailSales_BeerWineLiquor.csv')
sales

           DATE  MRTSSM4453USN
0    1992-01-01           1509
1    1992-02-01           1541
2    1992-03-01           1597
3    1992-04-01           1675
4    1992-05-01           1822
..          ...            ...
335  2019-12-01           6630
336  2020-01-01           4388
337  2020-02-01           4533
338  2020-03-01           5562
339  2020-04-01           5207

[340 rows x 2 columns]

In [28]:
sales['DATE']

0      1992-01-01
1      1992-02-01
2      1992-03-01
3      1992-04-01
4      1992-05-01
          ...
335    2019-12-01
336    2020-01-01
337    2020-02-01
338    2020-03-01
339    2020-04-01
Name: DATE, Length: 340, dtype: object