In [281]:
import pandas as pd 
import numpy as np

In [282]:
data = pd.read_csv('./data/Canadian Railway Crossing Incidents.csv')
data.head()

,Region,EventType,Public automated,Public passive,Private,Farm
0,Newfoundland,Accidents,0,0,0,0
1,Newfoundland,Fatalities,0,0,0,0
2,Newfoundland,Serious injuries,0,0,0,0
3,Nova Scotia,Accidents,1,0,0,0
4,Nova Scotia,Fatalities,0,0,0,0

In [283]:
# Set Multiindex
data = data.set_index(['Region', 'EventType'])
data.sort_index(ascending=[True,False], inplace=True)
data

                                        Public automated  Public passive  \
Region                EventType
Alberta               Serious injuries                 0               1
                      Fatalities                       0               0
                      Accidents                        3               7
British Columbia      Serious injuries                 3               0
                      Fatalities                       0               0
                      Accidents                        4               1
Manitoba              Serious injuries                 0               0
                      Fatalities                       0               1
                      Accidents                        1               3
New Brunswick         Serious injuries                 0               0
                      Fatalities                       0               0
                      Accidents                        0               0
Newfoundland          Serious injuries                 0               0
                      Fatalities                       0               0
                      Accidents                        0               0
Northwest Territories Serious injuries                 0               0
                      Fatalities                       0               0
                      Accidents                        0               0
Nova Scotia           Serious injuries                 0               0
                      Fatalities                       0               0
                      Accidents                        1               0
Ontario               Serious injuries                 1               0
                      Fatalities                       1               0
                      Accidents                        7               0
Quebec                Serious injuries                 0               0
                      Fatalities                       1               0
                      Accidents                        4               0
Saskatchewan          Serious injuries                 0               0
                      Fatalities                       0               0
                      Accidents                        1               3

                                        Private  Farm
Region                EventType
Alberta               Serious injuries        2     0
                      Fatalities              0     0
                      Accidents               2     0
British Columbia      Serious injuries        0     0
                      Fatalities              0     0
                      Accidents               0     0
Manitoba              Serious injuries        0     1
                      Fatalities              0     0
                      Accidents               0     2
New Brunswick         Serious injuries        0     0
                      Fatalities              0     0
                      Accidents               0     0
Newfoundland          Serious injuries        0     0
                      Fatalities              0     0
                      Accidents               0     0
Northwest Territories Serious injuries        0     0
                      Fatalities              0     0
                      Accidents               0     0
Nova Scotia           Serious injuries        0     0
                      Fatalities              0     0
                      Accidents               0     0
Ontario               Serious injuries        0     0
                      Fatalities              0     0
                      Accidents               2     0
Quebec                Serious injuries        0     0
                      Fatalities              0     0
                      Accidents               1     0
Saskatchewan          Serious injuries        0     0
                      Fatalities              0     0
                      Accidents               0     0

In [284]:
#Challange
data =pd.read_csv('./data/Air_Traffic_Passenger_statistics.csv')
data.head()

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count
0,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271
1,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131
2,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415
3,200507,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156
4,200507,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090

In [285]:
data.set_index(['Activity Period', 'Operating Airline'], inplace=True)
data.head()

                                  Operating Airline IATA Code  \
Activity Period Operating Airline
200507          ATA Airlines                               TZ
                ATA Airlines                               TZ
                ATA Airlines                               TZ
                Air Canada                                 AC
                Air Canada                                 AC

                                  Published Airline  \
Activity Period Operating Airline
200507          ATA Airlines           ATA Airlines
                ATA Airlines           ATA Airlines
                ATA Airlines           ATA Airlines
                Air Canada               Air Canada
                Air Canada               Air Canada

                                  Published Airline IATA Code    GEO Summary  \
Activity Period Operating Airline
200507          ATA Airlines                               TZ       Domestic
                ATA Airlines                               TZ       Domestic
                ATA Airlines                               TZ       Domestic
                Air Canada                                 AC  International
                Air Canada                                 AC  International

                                  GEO Region Activity Type Code  \
Activity Period Operating Airline
200507          ATA Airlines              US           Deplaned
                ATA Airlines              US           Enplaned
                ATA Airlines              US     Thru / Transit
                Air Canada            Canada           Deplaned
                Air Canada            Canada           Enplaned

                                  Price Category Code    Terminal  \
Activity Period Operating Airline
200507          ATA Airlines                 Low Fare  Terminal 1
                ATA Airlines                 Low Fare  Terminal 1
                ATA Airlines                 Low Fare  Terminal 1
                Air Canada                      Other  Terminal 1
                Air Canada                      Other  Terminal 1

                                  Boarding Area  Passenger Count
Activity Period Operating Airline
200507          ATA Airlines                  B            27271
                ATA Airlines                  B            29131
                ATA Airlines                  B             5415
                Air Canada                    B            35156
                Air Canada                    B            34090

In [286]:
data.reset_index(inplace=True)
data.set_index(['Activity Period', 'Operating Airline', 'Activity Type Code'], inplace=True)
data.head(10)

                                                     Operating Airline IATA Code  \
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned                                    TZ
                                  Enplaned                                    TZ
                                  Thru / Transit                              TZ
                Air Canada        Deplaned                                    AC
                                  Enplaned                                    AC
                Air China         Deplaned                                    CA
                                  Enplaned                                    CA
                Air France        Deplaned                                    AF
                                  Enplaned                                    AF
                Air New Zealand   Deplaned                                    NZ

                                                     Published Airline  \
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned                ATA Airlines
                                  Enplaned                ATA Airlines
                                  Thru / Transit          ATA Airlines
                Air Canada        Deplaned                  Air Canada
                                  Enplaned                  Air Canada
                Air China         Deplaned                   Air China
                                  Enplaned                   Air China
                Air France        Deplaned                  Air France
                                  Enplaned                  Air France
                Air New Zealand   Deplaned             Air New Zealand

                                                     Published Airline IATA Code  \
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned                                    TZ
                                  Enplaned                                    TZ
                                  Thru / Transit                              TZ
                Air Canada        Deplaned                                    AC
                                  Enplaned                                    AC
                Air China         Deplaned                                    CA
                                  Enplaned                                    CA
                Air France        Deplaned                                    AF
                                  Enplaned                                    AF
                Air New Zealand   Deplaned                                    NZ

                                                        GEO Summary  \
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned                 Domestic
                                  Enplaned                 Domestic
                                  Thru / Transit           Domestic
                Air Canada        Deplaned            International
                                  Enplaned            International
                Air China         Deplaned            International
                                  Enplaned            International
                Air France        Deplaned            International
                                  Enplaned            International
                Air New Zealand   Deplaned            International

                                                               GEO Region  \
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned                             US
                                  Enplaned                             US
                                  Thru / Transit                       US
                Air Canada        Deplaned                         Canada
                                  Enplaned                         Canada
                Air China         Deplaned                           Asia
                                  Enplaned                           Asia
                Air France        Deplaned                         Europe
                                  Enplaned                         Europe
                Air New Zealand   Deplaned            Australia / Oceania

                                                     Price Category Code  \
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned                      Low Fare
                                  Enplaned                      Low Fare
                                  Thru / Transit                Low Fare
                Air Canada        Deplaned                         Other
                                  Enplaned                         Other
                Air China         Deplaned                         Other
                                  Enplaned                         Other
                Air France        Deplaned                         Other
                                  Enplaned                         Other
                Air New Zealand   Deplaned                         Other

                                                           Terminal  \
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned               Terminal 1
                                  Enplaned               Terminal 1
                                  Thru / Transit         Terminal 1
                Air Canada        Deplaned               Terminal 1
                                  Enplaned               Terminal 1
                Air China         Deplaned            International
                                  Enplaned            International
                Air France        Deplaned            International
                                  Enplaned            International
                Air New Zealand   Deplaned            International

                                                     Boarding Area  \
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned                       B
                                  Enplaned                       B
                                  Thru / Transit                 B
                Air Canada        Deplaned                       B
                                  Enplaned                       B
                Air China         Deplaned                       G
                                  Enplaned                       G
                Air France        Deplaned                       A
                                  Enplaned                       A
                Air New Zealand   Deplaned                       G

                                                      Passenger Count
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned                      27271
                                  Enplaned                      29131
                                  Thru / Transit                 5415
                Air Canada        Deplaned                      35156
                                  Enplaned                      34090
                Air China         Deplaned                       6263
                                  Enplaned                       5500
                Air France        Deplaned                      12050
                                  Enplaned                      11638
                Air New Zealand   Deplaned                       4998

Searching data by multiindex

In [287]:
data = pd.read_csv('./data/Canadian Railway Crossing Incidents.csv')
data.set_index(['Region', 'EventType'], inplace=True)
data.sort_index(inplace=True)
data

                                        Public automated  Public passive  \
Region                EventType
Alberta               Accidents                        3               7
                      Fatalities                       0               0
                      Serious injuries                 0               1
British Columbia      Accidents                        4               1
                      Fatalities                       0               0
                      Serious injuries                 3               0
Manitoba              Accidents                        1               3
                      Fatalities                       0               1
                      Serious injuries                 0               0
New Brunswick         Accidents                        0               0
                      Fatalities                       0               0
                      Serious injuries                 0               0
Newfoundland          Accidents                        0               0
                      Fatalities                       0               0
                      Serious injuries                 0               0
Northwest Territories Accidents                        0               0
                      Fatalities                       0               0
                      Serious injuries                 0               0
Nova Scotia           Accidents                        1               0
                      Fatalities                       0               0
                      Serious injuries                 0               0
Ontario               Accidents                        7               0
                      Fatalities                       1               0
                      Serious injuries                 1               0
Quebec                Accidents                        4               0
                      Fatalities                       1               0
                      Serious injuries                 0               0
Saskatchewan          Accidents                        1               3
                      Fatalities                       0               0
                      Serious injuries                 0               0

                                        Private  Farm
Region                EventType
Alberta               Accidents               2     0
                      Fatalities              0     0
                      Serious injuries        2     0
British Columbia      Accidents               0     0
                      Fatalities              0     0
                      Serious injuries        0     0
Manitoba              Accidents               0     2
                      Fatalities              0     0
                      Serious injuries        0     1
New Brunswick         Accidents               0     0
                      Fatalities              0     0
                      Serious injuries        0     0
Newfoundland          Accidents               0     0
                      Fatalities              0     0
                      Serious injuries        0     0
Northwest Territories Accidents               0     0
                      Fatalities              0     0
                      Serious injuries        0     0
Nova Scotia           Accidents               0     0
                      Fatalities              0     0
                      Serious injuries        0     0
Ontario               Accidents               2     0
                      Fatalities              0     0
                      Serious injuries        0     0
Quebec                Accidents               1     0
                      Fatalities              0     0
                      Serious injuries        0     0
Saskatchewan          Accidents               0     0
                      Fatalities              0     0
                      Serious injuries        0     0

In [288]:
#Check choosen data
data.loc[('Ontario','Accidents')]

Public automated    7
Public passive      0
Private             2
Farm                0
Name: (Ontario, Accidents), dtype: int64

In [289]:
data.loc[('Ontario')]

                  Public automated  Public passive  Private  Farm
EventType
Accidents                        7               0        2     0
Fatalities                       1               0        0     0
Serious injuries                 1               0        0     0

In [290]:
data.loc['Ontario']

                  Public automated  Public passive  Private  Farm
EventType
Accidents                        7               0        2     0
Fatalities                       1               0        0     0
Serious injuries                 1               0        0     0

In [291]:
#iloc
data.iloc[2]

Public automated    0
Public passive      1
Private             2
Farm                0
Name: (Alberta, Serious injuries), dtype: int64

In [292]:
#More accuarte looking for data
data.loc[('Ontario', 'Accidents')].loc['Public automated']

7

In [293]:
data = pd.read_csv('./data/Air_Traffic_Passenger_statistics.csv')
data.set_index(['Operating Airline', 'Activity Period', 'Activity Type Code'], inplace=True)
data.sort_index(inplace=True)
data

                                                                            Operating Airline IATA Code  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned                                    4O
                                                         Enplaned                                    4O
ATA Airlines                             200507          Deplaned                                    TZ
                                                         Enplaned                                    TZ
                                                         Thru / Transit                              TZ
...                                                                                                 ...
XL Airways France                        201708          Enplaned                                    SE
                                         201709          Deplaned                                    SE
                                                         Enplaned                                    SE
Xtra Airways                             200608          Deplaned                                    XP
                                                         Enplaned                                    XP

                                                                                                    Published Airline  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned            ABC Aerolineas S.A. de C.V. dba Interjet
                                                         Enplaned            ABC Aerolineas S.A. de C.V. dba Interjet
ATA Airlines                             200507          Deplaned                                        ATA Airlines
                                                         Enplaned                                        ATA Airlines
                                                         Thru / Transit                                  ATA Airlines
...                                                                                                               ...
XL Airways France                        201708          Enplaned                                   XL Airways France
                                         201709          Deplaned                                   XL Airways France
                                                         Enplaned                                   XL Airways France
Xtra Airways                             200608          Deplaned                                        Xtra Airways
                                                         Enplaned                                        Xtra Airways

                                                                            Published Airline IATA Code  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned                                    4O
                                                         Enplaned                                    4O
ATA Airlines                             200507          Deplaned                                    TZ
                                                         Enplaned                                    TZ
                                                         Thru / Transit                              TZ
...                                                                                                 ...
XL Airways France                        201708          Enplaned                                    SE
                                         201709          Deplaned                                    SE
                                                         Enplaned                                    SE
Xtra Airways                             200608          Deplaned                                    XP
                                                         Enplaned                                    XP

                                                                               GEO Summary  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned            International
                                                         Enplaned            International
ATA Airlines                             200507          Deplaned                 Domestic
                                                         Enplaned                 Domestic
                                                         Thru / Transit           Domestic
...                                                                                    ...
XL Airways France                        201708          Enplaned            International
                                         201709          Deplaned            International
                                                         Enplaned            International
Xtra Airways                             200608          Deplaned                 Domestic
                                                         Enplaned                 Domestic

                                                                            GEO Region  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned               Mexico
                                                         Enplaned               Mexico
ATA Airlines                             200507          Deplaned                   US
                                                         Enplaned                   US
                                                         Thru / Transit             US
...                                                                                ...
XL Airways France                        201708          Enplaned               Europe
                                         201709          Deplaned               Europe
                                                         Enplaned               Europe
Xtra Airways                             200608          Deplaned                   US
                                                         Enplaned                   US

                                                                            Price Category Code  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned                         Other
                                                         Enplaned                         Other
ATA Airlines                             200507          Deplaned                      Low Fare
                                                         Enplaned                      Low Fare
                                                         Thru / Transit                Low Fare
...                                                                                         ...
XL Airways France                        201708          Enplaned                         Other
                                         201709          Deplaned                         Other
                                                         Enplaned                         Other
Xtra Airways                             200608          Deplaned                         Other
                                                         Enplaned                         Other

                                                                                  Terminal  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned            International
                                                         Enplaned            International
ATA Airlines                             200507          Deplaned               Terminal 1
                                                         Enplaned               Terminal 1
                                                         Thru / Transit         Terminal 1
...                                                                                    ...
XL Airways France                        201708          Enplaned            International
                                         201709          Deplaned            International
                                                         Enplaned            International
Xtra Airways                             200608          Deplaned            International
                                                         Enplaned            International

                                                                            Boarding Area  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned                       A
                                                         Enplaned                       A
ATA Airlines                             200507          Deplaned                       B
                                                         Enplaned                       B
                                                         Thru / Transit                 B
...                                                                                   ...
XL Airways France                        201708          Enplaned                       A
                                         201709          Deplaned                       A
                                                         Enplaned                       A
Xtra Airways                             200608          Deplaned                       A
                                                         Enplaned                       A

                                                                             Passenger Count
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned                       1090
                                                         Enplaned                       1212
ATA Airlines                             200507          Deplaned                      27271
                                                         Enplaned                      29131
                                                         Thru / Transit                 5415
...                                                                                      ...
XL Airways France                        201708          Enplaned                       3837
                                         201709          Deplaned                       2075
                                                         Enplaned                       2291
Xtra Airways                             200608          Deplaned                         73
                                                         Enplaned                         73

[18398 rows x 9 columns]

In [294]:
#Pick airfrance in June 2005
data.loc[('Air France', 200507, 'Enplaned')]

,,,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Price Category Code,Terminal,Boarding Area,Passenger Count
Operating Airline,Activity Period,Activity Type Code,,,,,,,,,
Air France,200507,Enplaned,AF,Air France,AF,International,Europe,Other,International,A,11638

In [295]:
data.loc[('Air France', 200507)]

,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Price Category Code,Terminal,Boarding Area,Passenger Count
Activity Type Code,,,,,,,,,
Deplaned,AF,Air France,AF,International,Europe,Other,International,A,12050
Enplaned,AF,Air France,AF,International,Europe,Other,International,A,11638

In [296]:
data.loc[('Air France')].head(10)

                                   Operating Airline IATA Code  \
Activity Period Activity Type Code
200507          Deplaned                                    AF
                Enplaned                                    AF
200508          Deplaned                                    AF
                Enplaned                                    AF
200509          Deplaned                                    AF
                Enplaned                                    AF
200510          Deplaned                                    AF
                Enplaned                                    AF
200511          Deplaned                                    AF
                Enplaned                                    AF

                                   Published Airline  \
Activity Period Activity Type Code
200507          Deplaned                  Air France
                Enplaned                  Air France
200508          Deplaned                  Air France
                Enplaned                  Air France
200509          Deplaned                  Air France
                Enplaned                  Air France
200510          Deplaned                  Air France
                Enplaned                  Air France
200511          Deplaned                  Air France
                Enplaned                  Air France

                                   Published Airline IATA Code    GEO Summary  \
Activity Period Activity Type Code
200507          Deplaned                                    AF  International
                Enplaned                                    AF  International
200508          Deplaned                                    AF  International
                Enplaned                                    AF  International
200509          Deplaned                                    AF  International
                Enplaned                                    AF  International
200510          Deplaned                                    AF  International
                Enplaned                                    AF  International
200511          Deplaned                                    AF  International
                Enplaned                                    AF  International

                                   GEO Region Price Category Code  \
Activity Period Activity Type Code
200507          Deplaned               Europe               Other
                Enplaned               Europe               Other
200508          Deplaned               Europe               Other
                Enplaned               Europe               Other
200509          Deplaned               Europe               Other
                Enplaned               Europe               Other
200510          Deplaned               Europe               Other
                Enplaned               Europe               Other
200511          Deplaned               Europe               Other
                Enplaned               Europe               Other

                                         Terminal Boarding Area  \
Activity Period Activity Type Code
200507          Deplaned            International             A
                Enplaned            International             A
200508          Deplaned            International             A
                Enplaned            International             A
200509          Deplaned            International             A
                Enplaned            International             A
200510          Deplaned            International             A
                Enplaned            International             A
200511          Deplaned            International             A
                Enplaned            International             A

                                    Passenger Count
Activity Period Activity Type Code
200507          Deplaned                      12050
                Enplaned                      11638
200508          Deplaned                      11230
                Enplaned                      11731
200509          Deplaned                      10731
                Enplaned                      11337
200510          Deplaned                      10515
                Enplaned                      10796
200511          Deplaned                       7121
                Enplaned                       7574

In [297]:
#Accuarte data for 'Air France', 200507, 'Enplaned'
data.loc[('Air France', 200507, 'Enplaned'), 'Passenger Count']

Operating Airline  Activity Period  Activity Type Code
Air France         200507           Enplaned              11638
Name: Passenger Count, dtype: int64

In [298]:
#Accurte data for 'Air France', 200507, 'Deplaned'
data.loc[('Air France', 200507, 'Deplaned'), 'Passenger Count']

Operating Airline  Activity Period  Activity Type Code
Air France         200507           Deplaned              12050
Name: Passenger Count, dtype: int64

In [299]:
#Print rows between 20 and 25
data[20:25]

                                                     Operating Airline IATA Code  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200512          Enplaned                                    TZ
                                  Thru / Transit                              TZ
                  200601          Deplaned                                    TZ
                                  Enplaned                                    TZ
                                  Thru / Transit                              TZ

                                                     Published Airline  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200512          Enplaned                ATA Airlines
                                  Thru / Transit          ATA Airlines
                  200601          Deplaned                ATA Airlines
                                  Enplaned                ATA Airlines
                                  Thru / Transit          ATA Airlines

                                                     Published Airline IATA Code  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200512          Enplaned                                    TZ
                                  Thru / Transit                              TZ
                  200601          Deplaned                                    TZ
                                  Enplaned                                    TZ
                                  Thru / Transit                              TZ

                                                     GEO Summary GEO Region  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200512          Enplaned              Domestic         US
                                  Thru / Transit        Domestic         US
                  200601          Deplaned              Domestic         US
                                  Enplaned              Domestic         US
                                  Thru / Transit        Domestic         US

                                                     Price Category Code  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200512          Enplaned                      Low Fare
                                  Thru / Transit                Low Fare
                  200601          Deplaned                      Low Fare
                                  Enplaned                      Low Fare
                                  Thru / Transit                Low Fare

                                                        Terminal  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200512          Enplaned            Terminal 1
                                  Thru / Transit      Terminal 1
                  200601          Deplaned            Terminal 1
                                  Enplaned            Terminal 1
                                  Thru / Transit      Terminal 1

                                                     Boarding Area  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200512          Enplaned                       B
                                  Thru / Transit                 B
                  200601          Deplaned                       B
                                  Enplaned                       B
                                  Thru / Transit                 B

                                                      Passenger Count
Operating Airline Activity Period Activity Type Code
ATA Airlines      200512          Enplaned                      16790
                                  Thru / Transit                 2402
                  200601          Deplaned                      13010
                                  Enplaned                      12226
                                  Thru / Transit                 3316

In [300]:
#Print rows between 20 and 25 but only column 8
data.iloc[20:25, 8]

Operating Airline  Activity Period  Activity Type Code
ATA Airlines       200512           Enplaned              16790
                                    Thru / Transit         2402
                   200601           Deplaned              13010
                                    Enplaned              12226
                                    Thru / Transit         3316
Name: Passenger Count, dtype: int64

transpose - reflect dataframe over its main diagonal by writing rows as columns and vice-versa.

In [301]:
d1 = {'col1' : [1,2], 'col2': [3,4]}
d1 = pd.DataFrame(d1)
d1

   col1  col2
0     1     3
1     2     4

In [302]:
d1_transposed = d1.T
d1_transposed

      0  1
col1  1  2
col2  3  4

swaplevel() - swap places the index instead of reset_index..... By default is swaps two most inner index (remember about i and j)

In [303]:
data = pd.read_csv('./data/Air_Traffic_Passenger_statistics.csv')
data.set_index(['Operating Airline', 'Activity Period', 'Activity Type Code'], inplace=True)
data.sort_index(inplace=True)
data

                                                                            Operating Airline IATA Code  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned                                    4O
                                                         Enplaned                                    4O
ATA Airlines                             200507          Deplaned                                    TZ
                                                         Enplaned                                    TZ
                                                         Thru / Transit                              TZ
...                                                                                                 ...
XL Airways France                        201708          Enplaned                                    SE
                                         201709          Deplaned                                    SE
                                                         Enplaned                                    SE
Xtra Airways                             200608          Deplaned                                    XP
                                                         Enplaned                                    XP

                                                                                                    Published Airline  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned            ABC Aerolineas S.A. de C.V. dba Interjet
                                                         Enplaned            ABC Aerolineas S.A. de C.V. dba Interjet
ATA Airlines                             200507          Deplaned                                        ATA Airlines
                                                         Enplaned                                        ATA Airlines
                                                         Thru / Transit                                  ATA Airlines
...                                                                                                               ...
XL Airways France                        201708          Enplaned                                   XL Airways France
                                         201709          Deplaned                                   XL Airways France
                                                         Enplaned                                   XL Airways France
Xtra Airways                             200608          Deplaned                                        Xtra Airways
                                                         Enplaned                                        Xtra Airways

                                                                            Published Airline IATA Code  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned                                    4O
                                                         Enplaned                                    4O
ATA Airlines                             200507          Deplaned                                    TZ
                                                         Enplaned                                    TZ
                                                         Thru / Transit                              TZ
...                                                                                                 ...
XL Airways France                        201708          Enplaned                                    SE
                                         201709          Deplaned                                    SE
                                                         Enplaned                                    SE
Xtra Airways                             200608          Deplaned                                    XP
                                                         Enplaned                                    XP

                                                                               GEO Summary  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned            International
                                                         Enplaned            International
ATA Airlines                             200507          Deplaned                 Domestic
                                                         Enplaned                 Domestic
                                                         Thru / Transit           Domestic
...                                                                                    ...
XL Airways France                        201708          Enplaned            International
                                         201709          Deplaned            International
                                                         Enplaned            International
Xtra Airways                             200608          Deplaned                 Domestic
                                                         Enplaned                 Domestic

                                                                            GEO Region  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned               Mexico
                                                         Enplaned               Mexico
ATA Airlines                             200507          Deplaned                   US
                                                         Enplaned                   US
                                                         Thru / Transit             US
...                                                                                ...
XL Airways France                        201708          Enplaned               Europe
                                         201709          Deplaned               Europe
                                                         Enplaned               Europe
Xtra Airways                             200608          Deplaned                   US
                                                         Enplaned                   US

                                                                            Price Category Code  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned                         Other
                                                         Enplaned                         Other
ATA Airlines                             200507          Deplaned                      Low Fare
                                                         Enplaned                      Low Fare
                                                         Thru / Transit                Low Fare
...                                                                                         ...
XL Airways France                        201708          Enplaned                         Other
                                         201709          Deplaned                         Other
                                                         Enplaned                         Other
Xtra Airways                             200608          Deplaned                         Other
                                                         Enplaned                         Other

                                                                                  Terminal  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned            International
                                                         Enplaned            International
ATA Airlines                             200507          Deplaned               Terminal 1
                                                         Enplaned               Terminal 1
                                                         Thru / Transit         Terminal 1
...                                                                                    ...
XL Airways France                        201708          Enplaned            International
                                         201709          Deplaned            International
                                                         Enplaned            International
Xtra Airways                             200608          Deplaned            International
                                                         Enplaned            International

                                                                            Boarding Area  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned                       A
                                                         Enplaned                       A
ATA Airlines                             200507          Deplaned                       B
                                                         Enplaned                       B
                                                         Thru / Transit                 B
...                                                                                   ...
XL Airways France                        201708          Enplaned                       A
                                         201709          Deplaned                       A
                                                         Enplaned                       A
Xtra Airways                             200608          Deplaned                       A
                                                         Enplaned                       A

                                                                             Passenger Count
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned                       1090
                                                         Enplaned                       1212
ATA Airlines                             200507          Deplaned                      27271
                                                         Enplaned                      29131
                                                         Thru / Transit                 5415
...                                                                                      ...
XL Airways France                        201708          Enplaned                       3837
                                         201709          Deplaned                       2075
                                                         Enplaned                       2291
Xtra Airways                             200608          Deplaned                         73
                                                         Enplaned                         73

[18398 rows x 9 columns]

In [304]:
#Two inner were changed
data.swaplevel().sort_index().head()

                                                                            Operating Airline IATA Code  \
Operating Airline                        Activity Type Code Activity Period
ABC Aerolineas S.A. de C.V. dba Interjet Deplaned           201803                                   4O
                                         Enplaned           201803                                   4O
ATA Airlines                             Deplaned           200507                                   TZ
                                                            200508                                   TZ
                                                            200509                                   TZ

                                                                                                    Published Airline  \
Operating Airline                        Activity Type Code Activity Period
ABC Aerolineas S.A. de C.V. dba Interjet Deplaned           201803           ABC Aerolineas S.A. de C.V. dba Interjet
                                         Enplaned           201803           ABC Aerolineas S.A. de C.V. dba Interjet
ATA Airlines                             Deplaned           200507                                       ATA Airlines
                                                            200508                                       ATA Airlines
                                                            200509                                       ATA Airlines

                                                                            Published Airline IATA Code  \
Operating Airline                        Activity Type Code Activity Period
ABC Aerolineas S.A. de C.V. dba Interjet Deplaned           201803                                   4O
                                         Enplaned           201803                                   4O
ATA Airlines                             Deplaned           200507                                   TZ
                                                            200508                                   TZ
                                                            200509                                   TZ

                                                                               GEO Summary  \
Operating Airline                        Activity Type Code Activity Period
ABC Aerolineas S.A. de C.V. dba Interjet Deplaned           201803           International
                                         Enplaned           201803           International
ATA Airlines                             Deplaned           200507                Domestic
                                                            200508                Domestic
                                                            200509                Domestic

                                                                            GEO Region  \
Operating Airline                        Activity Type Code Activity Period
ABC Aerolineas S.A. de C.V. dba Interjet Deplaned           201803              Mexico
                                         Enplaned           201803              Mexico
ATA Airlines                             Deplaned           200507                  US
                                                            200508                  US
                                                            200509                  US

                                                                            Price Category Code  \
Operating Airline                        Activity Type Code Activity Period
ABC Aerolineas S.A. de C.V. dba Interjet Deplaned           201803                        Other
                                         Enplaned           201803                        Other
ATA Airlines                             Deplaned           200507                     Low Fare
                                                            200508                     Low Fare
                                                            200509                     Low Fare

                                                                                  Terminal  \
Operating Airline                        Activity Type Code Activity Period
ABC Aerolineas S.A. de C.V. dba Interjet Deplaned           201803           International
                                         Enplaned           201803           International
ATA Airlines                             Deplaned           200507              Terminal 1
                                                            200508              Terminal 1
                                                            200509              Terminal 1

                                                                            Boarding Area  \
Operating Airline                        Activity Type Code Activity Period
ABC Aerolineas S.A. de C.V. dba Interjet Deplaned           201803                      A
                                         Enplaned           201803                      A
ATA Airlines                             Deplaned           200507                      B
                                                            200508                      B
                                                            200509                      B

                                                                             Passenger Count
Operating Airline                        Activity Type Code Activity Period
ABC Aerolineas S.A. de C.V. dba Interjet Deplaned           201803                      1090
                                         Enplaned           201803                      1212
ATA Airlines                             Deplaned           200507                     27271
                                                            200508                     27472
                                                            200509                     17341

In [305]:
data.swaplevel(i=0, j = 2).head()

,,,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Price Category Code,Terminal,Boarding Area,Passenger Count
Activity Type Code,Activity Period,Operating Airline,,,,,,,,,
Deplaned,201803,ABC Aerolineas S.A. de C.V. dba Interjet,4O,ABC Aerolineas S.A. de C.V. dba Interjet,4O,International,Mexico,Other,International,A,1090
Enplaned,201803,ABC Aerolineas S.A. de C.V. dba Interjet,4O,ABC Aerolineas S.A. de C.V. dba Interjet,4O,International,Mexico,Other,International,A,1212
Deplaned,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Low Fare,Terminal 1,B,27271
Enplaned,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Low Fare,Terminal 1,B,29131
Thru / Transit,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Low Fare,Terminal 1,B,5415

stack, unstack - pivot a column or row to the oposit axis.

In [306]:
data = pd.read_csv('./data/Canadian Railway Crossing Incidents.csv')
data.set_index(['Region', 'EventType'], inplace=True)
data.sort_index(inplace=True)
data

                                        Public automated  Public passive  \
Region                EventType
Alberta               Accidents                        3               7
                      Fatalities                       0               0
                      Serious injuries                 0               1
British Columbia      Accidents                        4               1
                      Fatalities                       0               0
                      Serious injuries                 3               0
Manitoba              Accidents                        1               3
                      Fatalities                       0               1
                      Serious injuries                 0               0
New Brunswick         Accidents                        0               0
                      Fatalities                       0               0
                      Serious injuries                 0               0
Newfoundland          Accidents                        0               0
                      Fatalities                       0               0
                      Serious injuries                 0               0
Northwest Territories Accidents                        0               0
                      Fatalities                       0               0
                      Serious injuries                 0               0
Nova Scotia           Accidents                        1               0
                      Fatalities                       0               0
                      Serious injuries                 0               0
Ontario               Accidents                        7               0
                      Fatalities                       1               0
                      Serious injuries                 1               0
Quebec                Accidents                        4               0
                      Fatalities                       1               0
                      Serious injuries                 0               0
Saskatchewan          Accidents                        1               3
                      Fatalities                       0               0
                      Serious injuries                 0               0

                                        Private  Farm
Region                EventType
Alberta               Accidents               2     0
                      Fatalities              0     0
                      Serious injuries        2     0
British Columbia      Accidents               0     0
                      Fatalities              0     0
                      Serious injuries        0     0
Manitoba              Accidents               0     2
                      Fatalities              0     0
                      Serious injuries        0     1
New Brunswick         Accidents               0     0
                      Fatalities              0     0
                      Serious injuries        0     0
Newfoundland          Accidents               0     0
                      Fatalities              0     0
                      Serious injuries        0     0
Northwest Territories Accidents               0     0
                      Fatalities              0     0
                      Serious injuries        0     0
Nova Scotia           Accidents               0     0
                      Fatalities              0     0
                      Serious injuries        0     0
Ontario               Accidents               2     0
                      Fatalities              0     0
                      Serious injuries        0     0
Quebec                Accidents               1     0
                      Fatalities              0     0
                      Serious injuries        0     0
Saskatchewan          Accidents               0     0
                      Fatalities              0     0
                      Serious injuries        0     0

In [307]:
stacked_data = data.stack().to_frame()
stacked_data

                                                0
Region       EventType
Alberta      Accidents        Public automated  3
                              Public passive    7
                              Private           2
                              Farm              0
             Fatalities       Public automated  0
...                                            ..
Saskatchewan Fatalities       Farm              0
             Serious injuries Public automated  0
                              Public passive    0
                              Private           0
                              Farm              0

[120 rows x 1 columns]

In [308]:
#Select a particular row
stacked_data.loc[('Alberta','Accidents','Public passive'),0]

7

Unstack(level = -1) "-1" indicates that most right index wold be moved to the columns, level = 0 would move the most left. List slicing idea. Also reduces one indexfrom multiindex. For example from 3 to 2

In [309]:
stacked_data.unstack(0)

                                        0                            \
Region                            Alberta British Columbia Manitoba
EventType
Accidents        Public automated       3                4        1
                 Public passive         7                1        3
                 Private                2                0        0
                 Farm                   0                0        2
Fatalities       Public automated       0                0        0
                 Public passive         0                0        1
                 Private                0                0        0
                 Farm                   0                0        0
Serious injuries Public automated       0                3        0
                 Public passive         1                0        0
                 Private                2                0        0
                 Farm                   0                0        1

                                                              \
Region                            New Brunswick Newfoundland
EventType
Accidents        Public automated             0            0
                 Public passive               0            0
                 Private                      0            0
                 Farm                         0            0
Fatalities       Public automated             0            0
                 Public passive               0            0
                 Private                      0            0
                 Farm                         0            0
Serious injuries Public automated             0            0
                 Public passive               0            0
                 Private                      0            0
                 Farm                         0            0

                                                                             \
Region                            Northwest Territories Nova Scotia Ontario
EventType
Accidents        Public automated                     0           1       7
                 Public passive                       0           0       0
                 Private                              0           0       2
                 Farm                                 0           0       0
Fatalities       Public automated                     0           0       1
                 Public passive                       0           0       0
                 Private                              0           0       0
                 Farm                                 0           0       0
Serious injuries Public automated                     0           0       1
                 Public passive                       0           0       0
                 Private                              0           0       0
                 Farm                                 0           0       0


Region                            Quebec Saskatchewan
EventType
Accidents        Public automated      4            1
                 Public passive        0            3
                 Private               1            0
                 Farm                  0            0
Fatalities       Public automated      1            0
                 Public passive        0            0
                 Private               0            0
                 Farm                  0            0
Serious injuries Public automated      0            0
                 Public passive        0            0
                 Private               0            0
                 Farm                  0            0

Pivot() - group unique values within one or more discrate categories

In [310]:
data = {"value": range(12),
        "variable": ['A']*3 + ['B']*3 + ["C"]*3 + ['D']*3,
        "date": pd.to_datetime(['2024-01-09', '2024-01-10', '2024-01-11']*4)
        }
data = pd.DataFrame(data)
data

    value variable       date
0       0        A 2024-01-09
1       1        A 2024-01-10
2       2        A 2024-01-11
3       3        B 2024-01-09
4       4        B 2024-01-10
5       5        B 2024-01-11
6       6        C 2024-01-09
7       7        C 2024-01-10
8       8        C 2024-01-11
9       9        D 2024-01-09
10     10        D 2024-01-10
11     11        D 2024-01-11

In [311]:
pivoted_data = data.pivot(index='date', columns='variable', values='value')
pivoted_data

variable    A  B  C   D
date
2024-01-09  0  3  6   9
2024-01-10  1  4  7  10
2024-01-11  2  5  8  11

In [312]:
data = pd.read_csv('./data/marathon_results_2016.csv', usecols=['Bib', '40K', 'Half', 'Pace', 'Age', 'M/F', 'Country', 'State', 'City'], index_col='Bib')
data

       Age M/F              City State Country     Half      40K     Pace
Bib
5       21   M       Addis Ababa   NaN     ETH  1:06:45  2:05:59  0:05:04
1       26   M              Ambo   NaN     ETH  1:06:46  2:05:59  0:05:06
6       31   M       Addis Ababa   NaN     ETH  1:06:44  2:06:47  0:05:07
11      33   M            Kitale   NaN     KEN  1:06:46  2:06:47  0:05:07
14      23   M           Eldoret   NaN     KEN  1:06:46  2:08:11  0:05:11
...    ...  ..               ...   ...     ...      ...      ...      ...
31985   46   F          Rossmoor    CA     USA  3:40:16        -  0:17:51
26218   47   F  Huntington Beach    CA     USA  3:40:17  7:25:15  0:17:51
29403   39   M         Reedsburg    WI     USA  3:37:49  7:54:21  0:19:13
30690   35   M          Franklin    TN     USA  3:00:22  7:59:12  0:19:17
28487   35   F            Boston    MA     USA  4:47:17        -  0:24:30

[26630 rows x 8 columns]

In [313]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26630 entries, 5 to 28487
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Age      26630 non-null  int64
 1   M/F      26630 non-null  object
 2   City     26629 non-null  object
 3   State    23783 non-null  object
 4   Country  26630 non-null  object
 5   Half     26630 non-null  object
 6   40K      26630 non-null  object
 7   Pace     26630 non-null  object
dtypes: int64(1), object(7)
memory usage: 1.8+ MB

In [314]:
from datetime import datetime
from datetime import timedelta
import time

In [315]:
data['40K'] = pd.to_timedelta(data['40K'], errors='coerce')
data['Half'] = pd.to_timedelta(data['Half'], errors='coerce')

data['TotalSeconds'] = data['40K'].apply(lambda x: x.total_seconds() if pd.notnull(x) else None)
data['HalfSeconds'] = data['Half'].apply(lambda x: x.total_seconds() if pd.notnull(x) else None)

data

,Age,M/F,City,State,Country,Half,40K,Pace,TotalSeconds,HalfSeconds
Bib,,,,,,,,,,
5,21,M,Addis Ababa,NaN,ETH,0 days 01:06:45,0 days 02:05:59,0:05:04,7559.0,4005.0
1,26,M,Ambo,NaN,ETH,0 days 01:06:46,0 days 02:05:59,0:05:06,7559.0,4006.0
6,31,M,Addis Ababa,NaN,ETH,0 days 01:06:44,0 days 02:06:47,0:05:07,7607.0,4004.0
11,33,M,Kitale,NaN,KEN,0 days 01:06:46,0 days 02:06:47,0:05:07,7607.0,4006.0
14,23,M,Eldoret,NaN,KEN,0 days 01:06:46,0 days 02:08:11,0:05:11,7691.0,4006.0
...,...,...,...,...,...,...,...,...,...,...
31985,46,F,Rossmoor,CA,USA,0 days 03:40:16,NaT,0:17:51,NaN,13216.0
26218,47,F,Huntington Beach,CA,USA,0 days 03:40:17,0 days 07:25:15,0:17:51,26715.0,13217.0
29403,39,M,Reedsburg,WI,USA,0 days 03:37:49,0 days 07:54:21,0:19:13,28461.0,13069.0
30690,35,M,Franklin,TN,USA,0 days 03:00:22,0 days 07:59:12,0:19:17,28752.0,10822.0
28487,35,F,Boston,MA,USA,0 days 04:47:17,NaT,0:24:30,NaN,17237.0

In [316]:
data_pivot_table = data.pivot_table(index='Age', columns='M/F', values='TotalSeconds', aggfunc='mean').head()
data_pivot_table

M/F             F             M
Age
18   16050.666667  14554.615385
19   15351.958333  12156.529412
20   13835.931818  12111.100000
21   14681.027027  12408.360465
22   14366.421053  11872.666667

In [317]:
data_pivot_table = data.pivot_table(index='Age', columns='M/F', values=['TotalSeconds', 'HalfSeconds'], aggfunc='mean').head()
data_pivot_table

     HalfSeconds               TotalSeconds
M/F            F            M             F             M
Age
18   7999.888889  7078.538462  16050.666667  14554.615385
19   7473.666667  5817.764706  15351.958333  12156.529412
20   6871.045455  5716.800000  13835.931818  12111.100000
21   7246.479452  5929.627907  14681.027027  12408.360465
22   7091.097744  5751.000000  14366.421053  11872.666667

In [318]:
data_pivot_table.swaplevel(axis=1).head()

M/F            F            M             F             M
     HalfSeconds  HalfSeconds  TotalSeconds  TotalSeconds
Age
18   7999.888889  7078.538462  16050.666667  14554.615385
19   7473.666667  5817.764706  15351.958333  12156.529412
20   6871.045455  5716.800000  13835.931818  12111.100000
21   7246.479452  5929.627907  14681.027027  12408.360465
22   7091.097744  5751.000000  14366.421053  11872.666667

In [319]:
data_pivot_table.swaplevel(axis=1).head().sort_index(axis=1).head()

M/F            F                          M
     HalfSeconds  TotalSeconds  HalfSeconds  TotalSeconds
Age
18   7999.888889  16050.666667  7078.538462  14554.615385
19   7473.666667  15351.958333  5817.764706  12156.529412
20   6871.045455  13835.931818  5716.800000  12111.100000
21   7246.479452  14681.027027  5929.627907  12408.360465
22   7091.097744  14366.421053  5751.000000  11872.666667

In [320]:
#Amount of runners
data_pivot_amount = data.pivot_table(index='Age', columns='M/F', aggfunc='count', values='City').head()
data_pivot_amount

M/F      F     M
Age
18     9.0  13.0
19    24.0  17.0
20    44.0  40.0
21    74.0  86.0
22   133.0  93.0

In [321]:
#Without sex indicator 
data.pivot_table(index='Country', aggfunc='count', values='City').head()

         City
Country
ALB         1
AND         1
ARG        26
AUS       152
AUT        27

In [322]:
data = pd.read_csv('./data/WA_Sales_Products_2012-14.csv')
data

,Retailer country,Order method type,Retailer type,Product line,Product type,Product,Year,Quarter,Revenue,Quantity,Gross margin
0,United States,Fax,Outdoors Shop,Camping Equipment,Cooking Gear,TrailChef Deluxe Cook Set,2012,Q1 2012,59628.66,489,0.347548
1,United States,Fax,Outdoors Shop,Camping Equipment,Cooking Gear,TrailChef Double Flame,2012,Q1 2012,35950.32,252,0.474274
2,United States,Fax,Outdoors Shop,Camping Equipment,Tents,Star Dome,2012,Q1 2012,89940.48,147,0.352772
3,United States,Fax,Outdoors Shop,Camping Equipment,Tents,Star Gazer 2,2012,Q1 2012,165883.41,303,0.282938
4,United States,Fax,Outdoors Shop,Camping Equipment,Sleeping Bags,Hibernator Lite,2012,Q1 2012,119822.20,1415,0.291450
...,...,...,...,...,...,...,...,...,...,...,...
88470,Spain,Sales visit,Outdoors Shop,Mountaineering Equipment,Rope,Husky Rope 60,2014,Q3 2014,30865.50,171,0.299114
88471,Spain,Sales visit,Outdoors Shop,Mountaineering Equipment,Climbing Accessories,Firefly Climbing Lamp,2014,Q3 2014,7485.29,191,0.446287
88472,Spain,Sales visit,Outdoors Shop,Mountaineering Equipment,Climbing Accessories,Firefly Charger,2014,Q3 2014,12255.48,236,0.569420
88473,Spain,Sales visit,Outdoors Shop,Mountaineering Equipment,Tools,Granite Axe,2014,Q3 2014,56448.00,1470,0.491667
88474,Spain,Sales visit,Outdoors Shop,Mountaineering Equipment,Tools,Granite Extreme,2014,Q3 2014,89376.00,1176,0.387895

In [323]:
data.pivot_table(index='Retailer country', columns=['Year', 'Quarter'], values='Revenue').head()

Year                      2012                                            \
Quarter                Q1 2012       Q2 2012       Q3 2012       Q4 2012
Retailer country
Australia         18906.876142  16895.175467  17504.806761  19768.131373
Austria           25401.670751  23912.953258  23179.373278  23859.805094
Belgium           24773.419214  21039.834690  20731.776829  24487.121476
Brazil            24750.126262  29493.933430  29727.165405  28584.067967
Canada            32925.458510  31271.184460  30955.907339  35278.634815

Year                      2013                                            \
Quarter                Q1 2013       Q2 2013       Q3 2013       Q4 2013
Retailer country
Australia         30539.494720  37051.540029  34052.142800  37522.124826
Austria           30688.525339  29262.090053  27345.137760  35773.766921
Belgium           22647.458500  27962.299003  24955.905244  28422.705106
Brazil            34042.971447  35098.693094  34170.103251  35602.803344
Canada            36376.197299  45494.348468  44154.213404  49722.680121

Year                      2014
Quarter                Q1 2014       Q2 2014       Q3 2014
Retailer country
Australia         41729.307912  46304.001311  28287.220462
Austria           35614.125013  41900.787028  23725.681168
Belgium           35567.947373  33795.670882  20852.858542
Brazil            41543.311584  42416.239016  25698.250601
Canada            58856.016621  59625.791996  35206.803567

In [324]:
data.pivot_table(index='Retailer country', columns='Year', values='Gross margin', aggfunc='min').head()

Year                  2012      2013      2014
Retailer country
Australia        -0.389517  0.000766  0.000766
Austria           0.052200 -0.030436 -0.086616
Belgium          -1.476136  0.000766  0.000766
Brazil           -0.681869 -2.085496 -0.291963
Canada           -1.373907 -0.741547 -0.050334

In [325]:
#More than one agg
data_pivot_table = data.pivot_table(index='Retailer country', columns='Year', values='Gross margin', aggfunc=['min', 'max', 'mean']).head()
data_pivot_table

                       min                           max                      \
Year                  2012      2013      2014      2012      2013      2014
Retailer country
Australia        -0.389517  0.000766  0.000766  0.770476  0.763231  0.757143
Austria           0.052200 -0.030436 -0.086616  0.770476  0.763231  0.759734
Belgium          -1.476136  0.000766  0.000766  0.770476  0.767760  0.759618
Brazil           -0.681869 -2.085496 -0.291963  0.770476  0.767760  0.758840
Canada           -1.373907 -0.741547 -0.050334  0.770476  0.767760  0.757660

                      mean
Year                  2012      2013      2014
Retailer country
Australia         0.447985  0.457347  0.446609
Austria           0.446084  0.456790  0.449137
Belgium           0.443791  0.452716  0.448201
Brazil            0.444602  0.450638  0.449135
Canada            0.444210  0.456364  0.453725

In [326]:
data_pivot_table.columns

MultiIndex([( 'min', 2012),
            ( 'min', 2013),
            ( 'min', 2014),
            ( 'max', 2012),
            ( 'max', 2013),
            ( 'max', 2014),
            ('mean', 2012),
            ('mean', 2013),
            ('mean', 2014)],
           names=[None, 'Year'])

In [327]:
#Swaps columns
data_pivot_table.swaplevel(axis=1)

Year,2012,2013,2014,2012,2013,2014,2012,2013,2014
,min,min,min,max,max,max,mean,mean,mean
Retailer country,,,,,,,,,
Australia,-0.389517,0.000766,0.000766,0.770476,0.763231,0.757143,0.447985,0.457347,0.446609
Austria,0.052200,-0.030436,-0.086616,0.770476,0.763231,0.759734,0.446084,0.456790,0.449137
Belgium,-1.476136,0.000766,0.000766,0.770476,0.767760,0.759618,0.443791,0.452716,0.448201
Brazil,-0.681869,-2.085496,-0.291963,0.770476,0.767760,0.758840,0.444602,0.450638,0.449135
Canada,-1.373907,-0.741547,-0.050334,0.770476,0.767760,0.757660,0.444210,0.456364,0.453725

Melt()

In [328]:
data = pd.read_csv('./data/WA_Sales_Products_2012-14.csv')
data_pivot = data.pivot_table(index='Retailer country', columns='Year', values='Revenue', aggfunc='sum')
data_pivot

Year                      2012          2013          2014
Retailer country
Australia         2.560704e+07  4.779974e+07  3.589319e+07
Austria           3.456809e+07  4.499674e+07  3.380179e+07
Belgium           3.039630e+07  3.837543e+07  2.818684e+07
Brazil            3.423488e+07  4.338995e+07  3.144084e+07
Canada            7.542839e+07  9.813407e+07  7.332521e+07
China             7.908049e+07  9.910935e+07  7.063338e+07
Denmark           1.589327e+07  2.005047e+07  1.195480e+07
Finland           4.782665e+07  5.964862e+07  4.474672e+07
France            7.223782e+07  8.307592e+07  6.420990e+07
Germany           6.523805e+07  7.811379e+07  5.742183e+07
Italy             4.613593e+07  6.186905e+07  4.662580e+07
Japan             8.634023e+07  1.121370e+08  8.318825e+07
Korea             5.084497e+07  6.071421e+07  4.701495e+07
Mexico            4.236357e+07  5.860426e+07  3.840177e+07
Netherlands       4.442166e+07  5.830177e+07  4.621297e+07
Singapore         4.820422e+07  6.094290e+07  4.711469e+07
Spain             3.923762e+07  5.584623e+07  4.167992e+07
Sweden            2.396700e+07  3.036053e+07  2.630800e+07
Switzerland       2.628656e+07  4.146361e+07  3.298171e+07
United Kingdom    6.942060e+07  8.492083e+07  6.488166e+07
United States     2.014623e+08  2.580366e+08  1.913121e+08

In [329]:
data_pivot.reset_index(inplace=True)
data_pivot.fillna(0, inplace=True)

In [331]:
data_pivot.melt(id_vars='Retailer country', value_name='RevSum', var_name='Year_of_Transaction').head()

  Retailer country Year_of_Transaction       RevSum
0        Australia                2012  25607043.50
1          Austria                2012  34568089.63
2          Belgium                2012  30396297.49
3           Brazil                2012  34234876.30
4           Canada                2012  75428386.09

In [340]:
#Unstack method, first make a pivot table
data_pivot = data.pivot_table(index='Retailer country', columns='Year', values='Revenue', aggfunc='sum')

In [343]:
data = data_pivot.unstack().to_frame().swaplevel().head()
data.columns=['Rev']
data.head()

                               Rev
Retailer country Year
Australia        2012  25607043.50
Austria          2012  34568089.63
Belgium          2012  30396297.49
Brazil           2012  34234876.30
Canada           2012  75428386.09