In [67]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
import random
import seaborn as sns

In [68]:
mc_data = pd.read_csv('./data/Mcdonalds.csv', index_col='Item')
mc_data

,Category,Serving Size,Calories,Calories from Fat,TotalFat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,Cholesterol,...,Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
Item,,,,,,,,,,,,,,,,,,,,,
Egg McMuffin,Breakfast,4.8 oz (136 g),300,120,13.0,20,5.0,25,0.0,260,...,31,10,4,17,3,17,10,0,25,15
Egg White Delight,Breakfast,4.8 oz (135 g),250,70,8.0,12,3.0,15,0.0,25,...,30,10,4,17,3,18,6,0,25,8
Sausage McMuffin,Breakfast,3.9 oz (111 g),370,200,23.0,35,8.0,42,0.0,45,...,29,10,4,17,2,14,8,0,25,10
Sausage McMuffin with Egg,Breakfast,5.7 oz (161 g),450,250,28.0,43,10.0,52,0.0,285,...,30,10,4,17,2,21,15,0,30,15
Sausage McMuffin with Egg Whites,Breakfast,5.7 oz (161 g),400,210,23.0,35,8.0,42,0.0,50,...,30,10,4,17,2,21,6,0,25,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
McFlurry with Oreo Cookies (Small),Smoothies & Shakes,10.1 oz (285 g),510,150,17.0,26,9.0,44,0.5,45,...,80,27,1,4,64,12,15,0,40,8
McFlurry with Oreo Cookies (Medium),Smoothies & Shakes,13.4 oz (381 g),690,200,23.0,35,12.0,58,1.0,55,...,106,35,1,5,85,15,20,0,50,10
McFlurry with Oreo Cookies (Snack),Smoothies & Shakes,6.7 oz (190 g),340,100,11.0,17,6.0,29,0.0,30,...,53,18,1,2,43,8,10,0,25,6
McFlurry with Reese's Peanut Butter Cups (Medium),Smoothies & Shakes,14.2 oz (403 g),810,290,32.0,50,15.0,76,1.0,60,...,114,38,2,9,103,21,20,0,60,6
McFlurry with Reese's Peanut Butter Cups (Snack),Smoothies & Shakes,7.1 oz (202 g),410,150,16.0,25,8.0,38,0.0,30,...,57,19,1,5,51,10,10,0,30,4

In [69]:
mc_data.count()

Category                         260
Serving Size                     260
Calories                         260
Calories from Fat                260
TotalFat                         260
Total Fat (% Daily Value)        260
Saturated Fat                    260
Saturated Fat (% Daily Value)    260
Trans Fat                        260
Cholesterol                      260
Cholesterol (% Daily Value)      260
Sodium                           260
Sodium (% Daily Value)           260
Carbohydrates                    260
Carbohydrates (% Daily Value)    260
Dietary Fiber                    260
Dietary Fiber (% Daily Value)    260
Sugars                           260
Protein                          260
Vitamin A (% Daily Value)        260
Vitamin C (% Daily Value)        260
Calcium (% Daily Value)          260
Iron (% Daily Value)             260
dtype: int64

In [70]:
mc_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 260 entries, Egg McMuffin to McFlurry with Reese's Peanut Butter Cups (Snack)
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Category                       260 non-null    object
 1   Serving Size                   260 non-null    object
 2   Calories                       260 non-null    int64
 3   Calories from Fat              260 non-null    int64
 4   TotalFat                       260 non-null    float64
 5   Total Fat (% Daily Value)      260 non-null    int64
 6   Saturated Fat                  260 non-null    float64
 7   Saturated Fat (% Daily Value)  260 non-null    int64
 8   Trans Fat                      260 non-null    float64
 9   Cholesterol                    260 non-null    int64
 10  Cholesterol (% Daily Value)    260 non-null    int64
 11  Sodium                         260 non-null    int64
 12  Sodium (% Daily Value)         260 non-null    int64
 13  Carbohydrates                  260 non-null    int64
 14  Carbohydrates (% Daily Value)  260 non-null    int64
 15  Dietary Fiber                  260 non-null    int64
 16  Dietary Fiber (% Daily Value)  260 non-null    int64
 17  Sugars                         260 non-null    int64
 18  Protein                        260 non-null    int64
 19  Vitamin A (% Daily Value)      260 non-null    int64
 20  Vitamin C (% Daily Value)      260 non-null    int64
 21  Calcium (% Daily Value)        260 non-null    int64
 22  Iron (% Daily Value)           260 non-null    int64
dtypes: float64(3), int64(18), object(2)
memory usage: 48.8+ KB

In [71]:
mc_data.Calories.value_counts()

Calories
0      16
340    10
430    10
280     9
250     8
       ..
640     1
800     1
740     1
620     1
810     1
Name: count, Length: 78, dtype: int64

In [72]:
#search by index
mc_data.iloc[1]

Category                              Breakfast
Serving Size                     4.8 oz (135 g)
Calories                                    250
Calories from Fat                            70
TotalFat                                    8.0
Total Fat (% Daily Value)                    12
Saturated Fat                               3.0
Saturated Fat (% Daily Value)                15
Trans Fat                                   0.0
Cholesterol                                  25
Cholesterol (% Daily Value)                   8
Sodium                                      770
Sodium (% Daily Value)                       32
Carbohydrates                                30
Carbohydrates (% Daily Value)                10
Dietary Fiber                                 4
Dietary Fiber (% Daily Value)                17
Sugars                                        3
Protein                                      18
Vitamin A (% Daily Value)                     6
Vitamin C (% Daily Value)                     0
Calcium (% Daily Value)                      25
Iron (% Daily Value)                          8
Name: Egg White Delight, dtype: object

In [73]:
#Search by position or value
mc_data.loc['McFlurry with Oreo Cookies (Snack)']

Category                         Smoothies & Shakes
Serving Size                         6.7 oz (190 g)
Calories                                        340
Calories from Fat                               100
TotalFat                                       11.0
Total Fat (% Daily Value)                        17
Saturated Fat                                   6.0
Saturated Fat (% Daily Value)                    29
Trans Fat                                       0.0
Cholesterol                                      30
Cholesterol (% Daily Value)                       9
Sodium                                          190
Sodium (% Daily Value)                            8
Carbohydrates                                    53
Carbohydrates (% Daily Value)                    18
Dietary Fiber                                     1
Dietary Fiber (% Daily Value)                     2
Sugars                                           43
Protein                                           8
Vitamin A (% Daily Value)                        10
Vitamin C (% Daily Value)                         0
Calcium (% Daily Value)                          25
Iron (% Daily Value)                              6
Name: McFlurry with Oreo Cookies (Snack), dtype: object

In [74]:
#For one column
mc_data['Calories']

Item
Egg McMuffin                                         300
Egg White Delight                                    250
Sausage McMuffin                                     370
Sausage McMuffin with Egg                            450
Sausage McMuffin with Egg Whites                     400
                                                    ...
McFlurry with Oreo Cookies (Small)                   510
McFlurry with Oreo Cookies (Medium)                  690
McFlurry with Oreo Cookies (Snack)                   340
McFlurry with Reese's Peanut Butter Cups (Medium)    810
McFlurry with Reese's Peanut Butter Cups (Snack)     410
Name: Calories, Length: 260, dtype: int64

In [75]:
#For more than one column, there is a need of two brackets 
mc_data[['Calories', 'TotalFat']]

                                                   Calories  TotalFat
Item
Egg McMuffin                                            300      13.0
Egg White Delight                                       250       8.0
Sausage McMuffin                                        370      23.0
Sausage McMuffin with Egg                               450      28.0
Sausage McMuffin with Egg Whites                        400      23.0
...                                                     ...       ...
McFlurry with Oreo Cookies (Small)                      510      17.0
McFlurry with Oreo Cookies (Medium)                     690      23.0
McFlurry with Oreo Cookies (Snack)                      340      11.0
McFlurry with Reese's Peanut Butter Cups (Medium)       810      32.0
McFlurry with Reese's Peanut Butter Cups (Snack)        410      16.0

[260 rows x 2 columns]

In [76]:
#Add and delete columns
frame = pd.read_csv('./data/Mcdonalds.csv', usecols = ['Item', 'Category', 'TotalFat', 'Sugars', 'Protein'])
frame.head()

    Category                              Item  TotalFat  Sugars  Protein
0  Breakfast                      Egg McMuffin      13.0       3       17
1  Breakfast                 Egg White Delight       8.0       3       18
2  Breakfast                  Sausage McMuffin      23.0       2       14
3  Breakfast         Sausage McMuffin with Egg      28.0       2       21
4  Breakfast  Sausage McMuffin with Egg Whites      23.0       2       21

In [77]:
frame.Item.head()

0                        Egg McMuffin
1                   Egg White Delight
2                    Sausage McMuffin
3           Sausage McMuffin with Egg
4    Sausage McMuffin with Egg Whites
Name: Item, dtype: object

In [78]:
#Adding a column to frame.
SugarAndFat = frame.Sugars + frame.TotalFat
frame['SugarAndFat'] = SugarAndFat
frame.head()

,Category,Item,TotalFat,Sugars,Protein,SugarAndFat
0,Breakfast,Egg McMuffin,13.0,3,17,16.0
1,Breakfast,Egg White Delight,8.0,3,18,11.0
2,Breakfast,Sausage McMuffin,23.0,2,14,25.0
3,Breakfast,Sausage McMuffin with Egg,28.0,2,21,30.0
4,Breakfast,Sausage McMuffin with Egg Whites,23.0,2,21,25.0

In [79]:
#Adding a column between columns. Loc for position, column is the name and value to action

frame.insert(loc=2, column='SPF', value=frame.Sugars + frame.Protein + frame.TotalFat)
frame.head()

,Category,Item,SPF,TotalFat,Sugars,Protein,SugarAndFat
0,Breakfast,Egg McMuffin,33.0,13.0,3,17,16.0
1,Breakfast,Egg White Delight,29.0,8.0,3,18,11.0
2,Breakfast,Sausage McMuffin,39.0,23.0,2,14,25.0
3,Breakfast,Sausage McMuffin with Egg,51.0,28.0,2,21,30.0
4,Breakfast,Sausage McMuffin with Egg Whites,46.0,23.0,2,21,25.0

In [80]:
#Del
frame = frame.drop('SPF', axis=1)
frame

,Category,Item,TotalFat,Sugars,Protein,SugarAndFat
0,Breakfast,Egg McMuffin,13.0,3,17,16.0
1,Breakfast,Egg White Delight,8.0,3,18,11.0
2,Breakfast,Sausage McMuffin,23.0,2,14,25.0
3,Breakfast,Sausage McMuffin with Egg,28.0,2,21,30.0
4,Breakfast,Sausage McMuffin with Egg Whites,23.0,2,21,25.0
...,...,...,...,...,...,...
255,Smoothies & Shakes,McFlurry with Oreo Cookies (Small),17.0,64,12,81.0
256,Smoothies & Shakes,McFlurry with Oreo Cookies (Medium),23.0,85,15,108.0
257,Smoothies & Shakes,McFlurry with Oreo Cookies (Snack),11.0,43,8,54.0
258,Smoothies & Shakes,McFlurry with Reese's Peanut Butter Cups (Medium),32.0,103,21,135.0
259,Smoothies & Shakes,McFlurry with Reese's Peanut Butter Cups (Snack),16.0,51,10,67.0

In [81]:
#Cleaning data (dropna)
data = pd.read_csv('./data/fuel.csv', usecols=['Vehicle ID', 'Year', 'Make','Model', 'Class', 'Fuel Type', 'Combined MPG (FT1)'], index_col='Vehicle ID')
data.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [82]:
data.isnull().sum()

Year                  0
Make                  0
Model                 1
Class                 1
Fuel Type             1
Combined MPG (FT1)    1
dtype: int64

In [83]:
#Adding more Nan values for an example
data.loc[23341, 'Class'] = np.NaN
data.loc[26741, 'Class'] = np.NaN
data.loc[23120, 'Class'] = np.NaN

In [84]:
#Removes NaN values but also with columns where they are
data.dropna(axis='columns').head()

            Year        Make
Vehicle ID
26587       1984  Alfa Romeo
27705       1984  Alfa Romeo
26561       1984  Alfa Romeo
27681       1984  Alfa Romeo
27550       1984  AM General

In [85]:
data.dropna(subset=['Class']).head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [86]:
#FillNa
data = pd.read_csv('./data/Mcdonalds.csv')
data.head()

,Category,Item,Serving Size,Calories,Calories from Fat,TotalFat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,...,Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,120,13.0,20,5.0,25,0.0,...,31,10,4,17,3,17,10,0,25,15
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,70,8.0,12,3.0,15,0.0,...,30,10,4,17,3,18,6,0,25,8
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,200,23.0,35,8.0,42,0.0,...,29,10,4,17,2,14,8,0,25,10
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,250,28.0,43,10.0,52,0.0,...,30,10,4,17,2,21,15,0,30,15
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,210,23.0,35,8.0,42,0.0,...,30,10,4,17,2,21,6,0,25,10

In [87]:
#Missing values
data.loc[1, 'TotalFat'] = np.NaN
data.loc[1, 'Saturated Fat'] = np.NaN
data.loc[2, 'Saturated Fat'] = np.NaN
data.loc[3, 'Category'] = np.NaN
data.head()

,Category,Item,Serving Size,Calories,Calories from Fat,TotalFat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,...,Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,120,13.0,20,5.0,25,0.0,...,31,10,4,17,3,17,10,0,25,15
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,70,NaN,12,NaN,15,0.0,...,30,10,4,17,3,18,6,0,25,8
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,200,23.0,35,NaN,42,0.0,...,29,10,4,17,2,14,8,0,25,10
3,NaN,Sausage McMuffin with Egg,5.7 oz (161 g),450,250,28.0,43,10.0,52,0.0,...,30,10,4,17,2,21,15,0,30,15
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,210,23.0,35,8.0,42,0.0,...,30,10,4,17,2,21,6,0,25,10

In [88]:
#Changes all NaN values to 0
data.fillna(value=0).head()

,Category,Item,Serving Size,Calories,Calories from Fat,TotalFat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,...,Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,120,13.0,20,5.0,25,0.0,...,31,10,4,17,3,17,10,0,25,15
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,70,0.0,12,0.0,15,0.0,...,30,10,4,17,3,18,6,0,25,8
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,200,23.0,35,0.0,42,0.0,...,29,10,4,17,2,14,8,0,25,10
3,0,Sausage McMuffin with Egg,5.7 oz (161 g),450,250,28.0,43,10.0,52,0.0,...,30,10,4,17,2,21,15,0,30,15
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,210,23.0,35,8.0,42,0.0,...,30,10,4,17,2,21,6,0,25,10

In [89]:
#Replaces NaN values by using dictionary
replaceValue = {'Category': 'UNKNOWN', 'TotalFat': 1, 'Saturated Fat': 2}
data.fillna(value=replaceValue).head()

,Category,Item,Serving Size,Calories,Calories from Fat,TotalFat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,...,Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,120,13.0,20,5.0,25,0.0,...,31,10,4,17,3,17,10,0,25,15
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,70,1.0,12,2.0,15,0.0,...,30,10,4,17,3,18,6,0,25,8
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,200,23.0,35,2.0,42,0.0,...,29,10,4,17,2,14,8,0,25,10
3,UNKNOWN,Sausage McMuffin with Egg,5.7 oz (161 g),450,250,28.0,43,10.0,52,0.0,...,30,10,4,17,2,21,15,0,30,15
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,210,23.0,35,8.0,42,0.0,...,30,10,4,17,2,21,6,0,25,10

In [90]:
#Cleaning particular column
data.Category.fillna(value='UNKNOWN', inplace=True)
data.head()

/var/folders/yk/fs7s5htj44b8ds6qh_c6gb0m0000gn/T/ipykernel_22287/2336474616.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data.Category.fillna(value='UNKNOWN', inplace=True)

,Category,Item,Serving Size,Calories,Calories from Fat,TotalFat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,...,Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,120,13.0,20,5.0,25,0.0,...,31,10,4,17,3,17,10,0,25,15
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,70,NaN,12,NaN,15,0.0,...,30,10,4,17,3,18,6,0,25,8
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,200,23.0,35,NaN,42,0.0,...,29,10,4,17,2,14,8,0,25,10
3,UNKNOWN,Sausage McMuffin with Egg,5.7 oz (161 g),450,250,28.0,43,10.0,52,0.0,...,30,10,4,17,2,21,15,0,30,15
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,210,23.0,35,8.0,42,0.0,...,30,10,4,17,2,21,6,0,25,10

In [91]:
data.TotalFat.fillna(value=0, inplace=True)
data.head()

/var/folders/yk/fs7s5htj44b8ds6qh_c6gb0m0000gn/T/ipykernel_22287/1735778160.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data.TotalFat.fillna(value=0, inplace=True)

,Category,Item,Serving Size,Calories,Calories from Fat,TotalFat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,...,Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,120,13.0,20,5.0,25,0.0,...,31,10,4,17,3,17,10,0,25,15
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,70,0.0,12,NaN,15,0.0,...,30,10,4,17,3,18,6,0,25,8
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,200,23.0,35,NaN,42,0.0,...,29,10,4,17,2,14,8,0,25,10
3,UNKNOWN,Sausage McMuffin with Egg,5.7 oz (161 g),450,250,28.0,43,10.0,52,0.0,...,30,10,4,17,2,21,15,0,30,15
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,210,23.0,35,8.0,42,0.0,...,30,10,4,17,2,21,6,0,25,10

In [92]:
data.loc[1, 'TotalFat'] = np.NaN
data.loc[1, 'Saturated Fat'] = np.NaN
data.loc[2, 'Saturated Fat'] = np.NaN
data.loc[3, 'Category'] = np.NaN
data.head()

,Category,Item,Serving Size,Calories,Calories from Fat,TotalFat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,...,Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,120,13.0,20,5.0,25,0.0,...,31,10,4,17,3,17,10,0,25,15
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,70,NaN,12,NaN,15,0.0,...,30,10,4,17,3,18,6,0,25,8
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,200,23.0,35,NaN,42,0.0,...,29,10,4,17,2,14,8,0,25,10
3,NaN,Sausage McMuffin with Egg,5.7 oz (161 g),450,250,28.0,43,10.0,52,0.0,...,30,10,4,17,2,21,15,0,30,15
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,210,23.0,35,8.0,42,0.0,...,30,10,4,17,2,21,6,0,25,10

In [93]:
avgTotalFat = data['TotalFat'].mean()
data['TotalFat'].fillna(value=avgTotalFat, inplace=True)
data.head()

/var/folders/yk/fs7s5htj44b8ds6qh_c6gb0m0000gn/T/ipykernel_22287/2633251441.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['TotalFat'].fillna(value=avgTotalFat, inplace=True)

,Category,Item,Serving Size,Calories,Calories from Fat,TotalFat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,...,Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,120,13.000000,20,5.0,25,0.0,...,31,10,4,17,3,17,10,0,25,15
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,70,14.189189,12,NaN,15,0.0,...,30,10,4,17,3,18,6,0,25,8
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,200,23.000000,35,NaN,42,0.0,...,29,10,4,17,2,14,8,0,25,10
3,NaN,Sausage McMuffin with Egg,5.7 oz (161 g),450,250,28.000000,43,10.0,52,0.0,...,30,10,4,17,2,21,15,0,30,15
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,210,23.000000,35,8.0,42,0.0,...,30,10,4,17,2,21,6,0,25,10

Sorting of data - sorting by values and index

In [96]:
data = pd.read_csv('./data/Mcdonalds.csv', usecols=['Item', 'Category', 'Serving Size', 'Calories', 'TotalFat'])
data.head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,8.0
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,23.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0

In [97]:
data.sort_values('Calories', ascending=False)

,Category,Item,Serving Size,Calories,TotalFat
82,Chicken & Fish,Chicken McNuggets (40 piece),22.8 oz (646 g),1880,118.0
32,Breakfast,Big Breakfast with Hotcakes (Large Biscuit),15.3 oz (434 g),1150,60.0
31,Breakfast,Big Breakfast with Hotcakes (Regular Biscuit),14.8 oz (420 g),1090,56.0
34,Breakfast,Big Breakfast with Hotcakes and Egg Whites (La...,15.4 oz (437 g),1050,50.0
33,Breakfast,Big Breakfast with Hotcakes and Egg Whites (Re...,14.9 oz (423 g),990,46.0
...,...,...,...,...,...
117,Beverages,Diet Coke (Child),12 fl oz cup,0,0.0
116,Beverages,Diet Coke (Large),30 fl oz cup,0,0.0
115,Beverages,Diet Coke (Medium),21 fl oz cup,0,0.0
114,Beverages,Diet Coke (Small),16 fl oz cup,0,0.0
146,Coffee & Tea,Coffee (Medium),16 fl oz cup,0,0.0

In [100]:
data.sort_values(by=['Category', 'Item'], ascending=[False,True]).head(20)

,Category,Item,Serving Size,Calories,TotalFat
101,Snacks & Sides,Apple Slices,1.2 oz (34 g),15,0.0
90,Snacks & Sides,Chipotle BBQ Snack Wrap (Crispy Chicken),4.6 oz (130 g),340,15.0
91,Snacks & Sides,Chipotle BBQ Snack Wrap (Grilled Chicken),4.3 oz (123 g),260,8.0
102,Snacks & Sides,Fruit 'n Yogurt Parfait,5.2 oz (149 g),150,2.0
92,Snacks & Sides,Honey Mustard Snack Wrap (Crispy Chicken),4.3 oz (123 g),330,15.0
93,Snacks & Sides,Honey Mustard Snack Wrap (Grilled Chicken),4.1 oz (116 g),250,8.0
99,Snacks & Sides,Kids French Fries,1.3 oz (38 g),110,5.0
98,Snacks & Sides,Large French Fries,5.9 oz (168 g),510,24.0
97,Snacks & Sides,Medium French Fries,3.9 oz (111 g),340,16.0
94,Snacks & Sides,Ranch Snack Wrap (Crispy Chicken),4.5 oz (128 g),360,20.0
95,Snacks & Sides,Ranch Snack Wrap (Grilled Chicken),4.3 oz (121 g),280,13.0
100,Snacks & Sides,Side Salad,3.1 oz (87 g),20,0.0
96,Snacks & Sides,Small French Fries,2.6 oz (75 g),230,11.0
234,Smoothies & Shakes,Blueberry Pomegranate Smoothie (Large),22 fl oz cup,340,1.0
233,Smoothies & Shakes,Blueberry Pomegranate Smoothie (Medium),16 fl oz cup,260,1.0
232,Smoothies & Shakes,Blueberry Pomegranate Smoothie (Small),12 fl oz cup,220,0.5
249,Smoothies & Shakes,Chocolate Shake (Large),22 fl oz cup,850,23.0
248,Smoothies & Shakes,Chocolate Shake (Medium),16 fl oz cup,700,20.0
247,Smoothies & Shakes,Chocolate Shake (Small),12 fl oz cup,560,16.0
240,Smoothies & Shakes,Mango Pineapple Smoothie (Large),22 fl oz cup,340,1.0

In [101]:
#Sort by index
data = pd.read_csv('./data/Mcdonalds.csv', usecols=['Item', 'Category', 'Serving Size', 'Calories', 'TotalFat'], index_col='Item')
data.head()

,Category,Serving Size,Calories,TotalFat
Item,,,,
Egg McMuffin,Breakfast,4.8 oz (136 g),300,13.0
Egg White Delight,Breakfast,4.8 oz (135 g),250,8.0
Sausage McMuffin,Breakfast,3.9 oz (111 g),370,23.0
Sausage McMuffin with Egg,Breakfast,5.7 oz (161 g),450,28.0
Sausage McMuffin with Egg Whites,Breakfast,5.7 oz (161 g),400,23.0

In [104]:
data.sort_index(ascending=False)

,Category,Serving Size,Calories,TotalFat
Item,,,,
Vanilla Shake (Small),Smoothies & Shakes,12 fl oz cup,530,15.0
Vanilla Shake (Medium),Smoothies & Shakes,16 fl oz cup,660,19.0
Vanilla Shake (Large),Smoothies & Shakes,22 fl oz cup,820,23.0
Sweet Tea (Small),Coffee & Tea,16 fl oz cup,150,0.0
Sweet Tea (Medium),Coffee & Tea,21 fl oz cup,180,0.0
...,...,...,...,...
Bacon Clubhouse Burger,Beef & Pork,9.5 oz (270 g),720,40.0
Bacon Cheddar McChicken,Chicken & Fish,6 oz (171 g),480,24.0
Bacon Buffalo Ranch McChicken,Chicken & Fish,5.7 oz (161 g),430,21.0
Apple Slices,Snacks & Sides,1.2 oz (34 g),15,0.0
1% Low Fat Milk Jug,Beverages,1 carton (236 ml),100,2.5

Ranking

In [105]:
data = pd.read_csv('./data/Mcdonalds.csv', usecols=['Item', 'Category', 'Serving Size', 'Calories', 'TotalFat'])
data.head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,8.0
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,23.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0

In [106]:
data.Calories.rank().head()

0    115.0
1     82.5
2    146.0
3    178.5
4    156.0
Name: Calories, dtype: float64

In [110]:
data['Ranking'] = data.Calories.rank(ascending=False)
data

,Category,Item,Serving Size,Calories,TotalFat,Ranking
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0,146.0
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,8.0,178.5
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,23.0,115.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0,82.5
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0,105.0
...,...,...,...,...,...,...
255,Smoothies & Shakes,McFlurry with Oreo Cookies (Small),10.1 oz (285 g),510,17.0,61.0
256,Smoothies & Shakes,McFlurry with Oreo Cookies (Medium),13.4 oz (381 g),690,23.0,21.0
257,Smoothies & Shakes,McFlurry with Oreo Cookies (Snack),6.7 oz (190 g),340,11.0,128.5
258,Smoothies & Shakes,McFlurry with Reese's Peanut Butter Cups (Medium),14.2 oz (403 g),810,32.0,12.0
259,Smoothies & Shakes,McFlurry with Reese's Peanut Butter Cups (Snack),7.1 oz (202 g),410,16.0,101.5

In [111]:
data.sort_values('Calories')

,Category,Item,Serving Size,Calories,TotalFat,Ranking
125,Beverages,Diet Dr Pepper (Child),12 fl oz cup,0,0.0,252.5
138,Coffee & Tea,Iced Tea (Medium),21 fl oz cup,0,0.0,252.5
137,Coffee & Tea,Iced Tea (Small),16 fl oz cup,0,0.0,252.5
136,Beverages,Dasani Water Bottle,16.9 fl oz,0,0.0,252.5
145,Coffee & Tea,Coffee (Small),12 fl oz cup,0,0.0,252.5
...,...,...,...,...,...,...
33,Breakfast,Big Breakfast with Hotcakes and Egg Whites (Re...,14.9 oz (423 g),990,46.0,5.0
34,Breakfast,Big Breakfast with Hotcakes and Egg Whites (La...,15.4 oz (437 g),1050,50.0,4.0
31,Breakfast,Big Breakfast with Hotcakes (Regular Biscuit),14.8 oz (420 g),1090,56.0,3.0
32,Breakfast,Big Breakfast with Hotcakes (Large Biscuit),15.3 oz (434 g),1150,60.0,2.0
82,Chicken & Fish,Chicken McNuggets (40 piece),22.8 oz (646 g),1880,118.0,1.0

In [112]:
data.nlargest(n=10, columns='Calories')

,Category,Item,Serving Size,Calories,TotalFat,Ranking
82,Chicken & Fish,Chicken McNuggets (40 piece),22.8 oz (646 g),1880,118.0,1.0
32,Breakfast,Big Breakfast with Hotcakes (Large Biscuit),15.3 oz (434 g),1150,60.0,2.0
31,Breakfast,Big Breakfast with Hotcakes (Regular Biscuit),14.8 oz (420 g),1090,56.0,3.0
34,Breakfast,Big Breakfast with Hotcakes and Egg Whites (La...,15.4 oz (437 g),1050,50.0,4.0
33,Breakfast,Big Breakfast with Hotcakes and Egg Whites (Re...,14.9 oz (423 g),990,46.0,5.0
81,Chicken & Fish,Chicken McNuggets (20 piece),11.4 oz (323 g),940,59.0,6.0
253,Smoothies & Shakes,McFlurry with M&M’s Candies (Medium),16.2 oz (460 g),930,33.0,7.0
246,Smoothies & Shakes,Strawberry Shake (Large),22 fl oz cup,850,24.0,8.5
249,Smoothies & Shakes,Chocolate Shake (Large),22 fl oz cup,850,23.0,8.5
243,Smoothies & Shakes,Vanilla Shake (Large),22 fl oz cup,820,23.0,10.5

Filtering of data

In [114]:
data = pd.read_csv('./data/Mcdonalds.csv', usecols=['Item', 'Category', 'Serving Size', 'Calories', 'TotalFat'])
data.head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,8.0
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,23.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0

In [119]:
calover400 = data.Calories >= 400
calover400

0      False
1      False
2      False
3       True
4       True
       ...
255     True
256     True
257    False
258     True
259     True
Name: Calories, Length: 260, dtype: bool

In [120]:
isBreakfast = data['Category'] == 'Breakfast'
isBreakfast

0       True
1       True
2       True
3       True
4       True
       ...
255    False
256    False
257    False
258    False
259    False
Name: Category, Length: 260, dtype: bool

In [122]:
#Condition plus condition
data[isBreakfast & calover400].head()

,Category,Item,Serving Size,Calories,TotalFat
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0
5,Breakfast,Steak & Egg McMuffin,6.5 oz (185 g),430,23.0
6,Breakfast,"Bacon, Egg & Cheese Biscuit (Regular Biscuit)",5.3 oz (150 g),460,26.0
7,Breakfast,"Bacon, Egg & Cheese Biscuit (Large Biscuit)",5.8 oz (164 g),520,30.0

In [124]:
#Prestens all data but reverse to condition
data[~ isBreakfast].head()

,Category,Item,Serving Size,Calories,TotalFat
42,Beef & Pork,Big Mac,7.4 oz (211 g),530,27.0
43,Beef & Pork,Quarter Pounder with Cheese,7.1 oz (202 g),520,26.0
44,Beef & Pork,Quarter Pounder with Bacon & Cheese,8 oz (227 g),600,29.0
45,Beef & Pork,Quarter Pounder with Bacon Habanero Ranch,8.3 oz (235 g),610,31.0
46,Beef & Pork,Quarter Pounder Deluxe,8.6 oz (244 g),540,27.0

Where and query

In [129]:
#THe values that are not filling the row, where will replace those value to NaN, it keeps the same size of the frame
data.where(calover400).head()

,Category,Item,Serving Size,Calories,TotalFat
0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450.0,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400.0,23.0

In [131]:
data.query('Category ==  "Desserts"').head()

     Category                   Item     Serving Size  Calories  TotalFat
103  Desserts        Baked Apple Pie    2.7 oz (77 g)       250      13.0
104  Desserts  Chocolate Chip Cookie  1 cookie (33 g)       160       8.0
105  Desserts  Oatmeal Raisin Cookie  1 cookie (33 g)       150       6.0
106  Desserts    Kids Ice Cream Cone      1 oz (29 g)        45       1.5
107  Desserts       Hot Fudge Sundae   6.3 oz (179 g)       330       9.0

In [133]:
data.query('Category == "Desserts" and Calories < 200')

     Category                   Item     Serving Size  Calories  TotalFat
104  Desserts  Chocolate Chip Cookie  1 cookie (33 g)       160       8.0
105  Desserts  Oatmeal Raisin Cookie  1 cookie (33 g)       150       6.0
106  Desserts    Kids Ice Cream Cone      1 oz (29 g)        45       1.5

In [135]:
animals = pd.read_csv('./data/sleep_time.csv', index_col='ID').fillna(0)
animals.head()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
1,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,0.0,0.000000,11.9,0.00000,50.000
2,Owl monkey,Aotus,omni,Primates,0,17.0,1.8,0.000000,7.0,0.01550,0.480
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,0.000000,9.6,0.00000,1.350
4,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
5,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000

In [139]:
#Find herbi animals
herbi = animals.where(animals.vore == 'herbi')
herbi

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,0.000000,9.6,0.000,1.35
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.423,600.00
...,...,...,...,...,...,...,...,...,...,...,...
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [140]:
#Find carni
carni = animals.where(animals.vore == 'Carni')
carni

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [148]:
#Filtering with query, you can add values that you are looking for
animals.query("sleep_total > 14 and sleep_rem < 2 & conservation == 0 & vore == 'omni'")

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
2,Owl monkey,Aotus,omni,Primates,0,17.0,1.8,0.0,7.0,0.0155,0.48

Between

In [158]:
between300and400Cal = data['Calories'].between(300,400)
data[between300and400Cal].head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,23.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0
20,Breakfast,"Bacon, Egg & Cheese McGriddles with Egg Whites",6.3 oz (178 g),400,15.0
35,Breakfast,Hotcakes,5.3 oz (151 g),350,9.0

In [1]:
#loc vs iloc
import pandas as pd

data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["NY", "LA", "Chicago"]
}

df = pd.DataFrame(data, index=["a", "b", "c"])
print(df)

      Name  Age     City
a    Alice   25       NY
b      Bob   30       LA
c  Charlie   35  Chicago

In [2]:
#loc
df.loc['a']

Name    Alice
Age        25
City       NY
Name: a, dtype: object

In [3]:
df.loc[:, 'Age']

a    25
b    30
c    35
Name: Age, dtype: int64

In [4]:
df.loc['b', 'City']

'LA'

In [5]:
#iloc
df.iloc[0]

Name    Alice
Age        25
City       NY
Name: a, dtype: object

In [7]:
df.iloc[:, 1]

a    25
b    30
c    35
Name: Age, dtype: int64

In [9]:
df.iloc[:, 1:]

   Age     City
a   25       NY
b   30       LA
c   35  Chicago