In [19]:
import pandas as pd 
import numpy as np

In [20]:
data = pd.read_csv('./data/Canadian Railway Crossing Incidents.csv')
data.head()

,Region,EventType,Public automated,Public passive,Private,Farm
0,Newfoundland,Accidents,0,0,0,0
1,Newfoundland,Fatalities,0,0,0,0
2,Newfoundland,Serious injuries,0,0,0,0
3,Nova Scotia,Accidents,1,0,0,0
4,Nova Scotia,Fatalities,0,0,0,0

In [21]:
# Set Multiindex
data = data.set_index(['Region', 'EventType'])
data.sort_index(ascending=[True,False], inplace=True)
data

                                        Public automated  Public passive  \
Region                EventType
Alberta               Serious injuries                 0               1
                      Fatalities                       0               0
                      Accidents                        3               7
British Columbia      Serious injuries                 3               0
                      Fatalities                       0               0
                      Accidents                        4               1
Manitoba              Serious injuries                 0               0
                      Fatalities                       0               1
                      Accidents                        1               3
New Brunswick         Serious injuries                 0               0
                      Fatalities                       0               0
                      Accidents                        0               0
Newfoundland          Serious injuries                 0               0
                      Fatalities                       0               0
                      Accidents                        0               0
Northwest Territories Serious injuries                 0               0
                      Fatalities                       0               0
                      Accidents                        0               0
Nova Scotia           Serious injuries                 0               0
                      Fatalities                       0               0
                      Accidents                        1               0
Ontario               Serious injuries                 1               0
                      Fatalities                       1               0
                      Accidents                        7               0
Quebec                Serious injuries                 0               0
                      Fatalities                       1               0
                      Accidents                        4               0
Saskatchewan          Serious injuries                 0               0
                      Fatalities                       0               0
                      Accidents                        1               3

                                        Private  Farm
Region                EventType
Alberta               Serious injuries        2     0
                      Fatalities              0     0
                      Accidents               2     0
British Columbia      Serious injuries        0     0
                      Fatalities              0     0
                      Accidents               0     0
Manitoba              Serious injuries        0     1
                      Fatalities              0     0
                      Accidents               0     2
New Brunswick         Serious injuries        0     0
                      Fatalities              0     0
                      Accidents               0     0
Newfoundland          Serious injuries        0     0
                      Fatalities              0     0
                      Accidents               0     0
Northwest Territories Serious injuries        0     0
                      Fatalities              0     0
                      Accidents               0     0
Nova Scotia           Serious injuries        0     0
                      Fatalities              0     0
                      Accidents               0     0
Ontario               Serious injuries        0     0
                      Fatalities              0     0
                      Accidents               2     0
Quebec                Serious injuries        0     0
                      Fatalities              0     0
                      Accidents               1     0
Saskatchewan          Serious injuries        0     0
                      Fatalities              0     0
                      Accidents               0     0

In [22]:
#Challange
data =pd.read_csv('./data/Air_Traffic_Passenger_statistics.csv')
data.head()

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count
0,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271
1,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131
2,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415
3,200507,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156
4,200507,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090

In [24]:
data.set_index(['Activity Period', 'Operating Airline'], inplace=True)
data.head()

                                  Operating Airline IATA Code  \
Activity Period Operating Airline
200507          ATA Airlines                               TZ
                ATA Airlines                               TZ
                ATA Airlines                               TZ
                Air Canada                                 AC
                Air Canada                                 AC

                                  Published Airline  \
Activity Period Operating Airline
200507          ATA Airlines           ATA Airlines
                ATA Airlines           ATA Airlines
                ATA Airlines           ATA Airlines
                Air Canada               Air Canada
                Air Canada               Air Canada

                                  Published Airline IATA Code    GEO Summary  \
Activity Period Operating Airline
200507          ATA Airlines                               TZ       Domestic
                ATA Airlines                               TZ       Domestic
                ATA Airlines                               TZ       Domestic
                Air Canada                                 AC  International
                Air Canada                                 AC  International

                                  GEO Region Activity Type Code  \
Activity Period Operating Airline
200507          ATA Airlines              US           Deplaned
                ATA Airlines              US           Enplaned
                ATA Airlines              US     Thru / Transit
                Air Canada            Canada           Deplaned
                Air Canada            Canada           Enplaned

                                  Price Category Code    Terminal  \
Activity Period Operating Airline
200507          ATA Airlines                 Low Fare  Terminal 1
                ATA Airlines                 Low Fare  Terminal 1
                ATA Airlines                 Low Fare  Terminal 1
                Air Canada                      Other  Terminal 1
                Air Canada                      Other  Terminal 1

                                  Boarding Area  Passenger Count
Activity Period Operating Airline
200507          ATA Airlines                  B            27271
                ATA Airlines                  B            29131
                ATA Airlines                  B             5415
                Air Canada                    B            35156
                Air Canada                    B            34090

In [28]:
data.reset_index(inplace=True)
data.set_index(['Activity Period', 'Operating Airline', 'Activity Type Code'], inplace=True)
data.head(10)

                                                      index  \
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned                0
                                  Enplaned                1
                                  Thru / Transit          2
                Air Canada        Deplaned                3
                                  Enplaned                4
                Air China         Deplaned                5
                                  Enplaned                6
                Air France        Deplaned                7
                                  Enplaned                8
                Air New Zealand   Deplaned                9

                                                     Operating Airline IATA Code  \
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned                                    TZ
                                  Enplaned                                    TZ
                                  Thru / Transit                              TZ
                Air Canada        Deplaned                                    AC
                                  Enplaned                                    AC
                Air China         Deplaned                                    CA
                                  Enplaned                                    CA
                Air France        Deplaned                                    AF
                                  Enplaned                                    AF
                Air New Zealand   Deplaned                                    NZ

                                                     Published Airline  \
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned                ATA Airlines
                                  Enplaned                ATA Airlines
                                  Thru / Transit          ATA Airlines
                Air Canada        Deplaned                  Air Canada
                                  Enplaned                  Air Canada
                Air China         Deplaned                   Air China
                                  Enplaned                   Air China
                Air France        Deplaned                  Air France
                                  Enplaned                  Air France
                Air New Zealand   Deplaned             Air New Zealand

                                                     Published Airline IATA Code  \
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned                                    TZ
                                  Enplaned                                    TZ
                                  Thru / Transit                              TZ
                Air Canada        Deplaned                                    AC
                                  Enplaned                                    AC
                Air China         Deplaned                                    CA
                                  Enplaned                                    CA
                Air France        Deplaned                                    AF
                                  Enplaned                                    AF
                Air New Zealand   Deplaned                                    NZ

                                                        GEO Summary  \
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned                 Domestic
                                  Enplaned                 Domestic
                                  Thru / Transit           Domestic
                Air Canada        Deplaned            International
                                  Enplaned            International
                Air China         Deplaned            International
                                  Enplaned            International
                Air France        Deplaned            International
                                  Enplaned            International
                Air New Zealand   Deplaned            International

                                                               GEO Region  \
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned                             US
                                  Enplaned                             US
                                  Thru / Transit                       US
                Air Canada        Deplaned                         Canada
                                  Enplaned                         Canada
                Air China         Deplaned                           Asia
                                  Enplaned                           Asia
                Air France        Deplaned                         Europe
                                  Enplaned                         Europe
                Air New Zealand   Deplaned            Australia / Oceania

                                                     Price Category Code  \
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned                      Low Fare
                                  Enplaned                      Low Fare
                                  Thru / Transit                Low Fare
                Air Canada        Deplaned                         Other
                                  Enplaned                         Other
                Air China         Deplaned                         Other
                                  Enplaned                         Other
                Air France        Deplaned                         Other
                                  Enplaned                         Other
                Air New Zealand   Deplaned                         Other

                                                           Terminal  \
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned               Terminal 1
                                  Enplaned               Terminal 1
                                  Thru / Transit         Terminal 1
                Air Canada        Deplaned               Terminal 1
                                  Enplaned               Terminal 1
                Air China         Deplaned            International
                                  Enplaned            International
                Air France        Deplaned            International
                                  Enplaned            International
                Air New Zealand   Deplaned            International

                                                     Boarding Area  \
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned                       B
                                  Enplaned                       B
                                  Thru / Transit                 B
                Air Canada        Deplaned                       B
                                  Enplaned                       B
                Air China         Deplaned                       G
                                  Enplaned                       G
                Air France        Deplaned                       A
                                  Enplaned                       A
                Air New Zealand   Deplaned                       G

                                                      Passenger Count
Activity Period Operating Airline Activity Type Code
200507          ATA Airlines      Deplaned                      27271
                                  Enplaned                      29131
                                  Thru / Transit                 5415
                Air Canada        Deplaned                      35156
                                  Enplaned                      34090
                Air China         Deplaned                       6263
                                  Enplaned                       5500
                Air France        Deplaned                      12050
                                  Enplaned                      11638
                Air New Zealand   Deplaned                       4998

Searching data by multiindex